[2015-05-19 15:31] Melkaz opened #2 "Fragment length as an user input"
Could we please input the mean fragment length of the library when using single-end data ?

[2015-05-20 17:58] rob-p commented on #2
Hi @Melkaz,
  These options have been added as of commit c207d0f28e5782f9a16747a72ac6f06c277fd4ed.  There are some new options, all of which have reasonable defaults (the ones that were hard coded before).  The relevant options here are: `--fldMean` which you can use to specify the expected mean length of the fragment distribution and `--fldSD` which you can use to specify the expected standard de

[2015-05-20 17:58] #2 closed

[2015-05-22 13:59] Blahah opened #3 "Remove FPKM from results"
R/FPKM are widely misused in practise and in the literature. It has been known since at least 2011 ([RSEM paper](http://www.biomedcentral.com/1471-2105/12/323)) that they are not suitable for comparison between samples due to the library-specific normalisation factor. Unfortunately, most people use them that way.

TPM has all the benefits of R/FPKM but has the added benefit that the normalisation

[2015-05-31 06:23] rob-p commented on #3
In the latest release (along with other, even **more-awesome** new features), FPKM has been dropped from the output.

[2015-05-31 06:23] #3 closed

[2015-06-08 21:14] jmerkin opened #5 ""you are using an empty matrix" error, seemingly during bias correction (--biasCorrect)"
I'm running salmon v.4 (downloaded and compiled today) on gencode v22 and got the following error:

Performing PCA decomposition
salmon: /home/merkija1/software/salmon-0.4.0/include/eigen3/Eigen/src/Core/Redux.h:202: static Eigen::internal::redux_impl<Func, Derived, 3, 0>::Scalar Eigen::internal::redux_impl<Func, Derived, 3, 0>::run(const Derived&, const Func&) [with Func = Eigen::internal::scalar

[2015-06-08 21:19] rob-p commented on #5
Hi Jason,

  Yes, I apologize for this bug.  What happened is that in v0.4.0 we changed the output format (dropping FPKM), but I forgot to appropriately modify the reading of the input file in the post-hoc bias correction.  The bug should be fixed by commit 88f09218e65fe34884dbc17ecc6cf0ebc8efce8c.  Could you build this commit and see if this resolves the issue for you (Ido ran into a similar prob

[2015-06-09 19:51] jmerkin commented on #5
Hi Rob,

I'm compiling it now. I ran into a different issue with this commit that took a little bit to track down. It looks like you switch from jellyfish 2.1.3 to 2.2.0. I was running into an issue with some undefined values, eraise and a few associated classes from jellyfish include/jellyfish/err.hpp that were present in 2.1.3 and seemingly removed in 2.2.0. Making it use 2.1.3 instead of 2.2.0

[2015-06-09 20:06] jmerkin commented on #5
Hi Rob,

Finished compiling and it no longer throws that error. Thanks for the help!

[2015-06-09 20:12] rob-p commented on #5
Strange!  I should still be using Jellyfish 2.1.3 (https://github.com/COMBINE-lab/salmon/blob/master/CMakeLists.txt#L355).  I'm not sure why it was fetching 2.2.0 for you.  Anyway, I'm glad that this seems to resolve the error with the bias correction --- thanks for reporting back here.  I'll probably roll this and a few other small changes into a v0.4.1 soon.

[2015-06-09 20:12] #5 closed

[2015-06-09 20:17] jmerkin commented on #5
Hm. I had to tweak a few bits in the cmake file for it to compile here due
to the firewall I'm behind (generally no ftp access) so it must have been a
side effect of that. I tried to make sure I was starting from a clean slate
to verify before posting, but guess I wasn't.

Jason

On Tue, Jun 9, 2015 at 4:12 PM, Rob Patro <notifications@github.com> wrote:

[2015-06-09 20:20] rob-p commented on #5
No worries.  I've had issues with grabbing Jellyfish from the existing URL depending on the network setup as well.  I may just copy that tarball to a GitHub artifact an have the makefile pull from GitHub instead.

--Rob

[2015-06-12 16:03] vals opened #6 "Significant performance regression in version 0.4.0"
I tend to benchmark new versions of software mostly to check how much better things get over time at solving our problems. My strategy for benchmarking is to look at correlation between spike-ins at known abundances and estimated expression by software.

The latest version of Salmon (0.4.0) performs markedly worse than all the previous versions of Salmon on the same data.

![salmong-performance](h

[2015-06-12 16:07] rob-p commented on #6
Hi @vals,

  This is very interesting, as we've been doing quite a bit of testing and (to the contrary) have found v0.4.0 to perform substantially *better* than v0.3.x.  Out of curiosity, could you check how v0.4.0 performs *without* `--useVBOpt`?  Obviously, if you continue to see this regression, I'll be happy to try and dig down deeper, but I might need you to provide some testing data.

--Rob

[2015-06-12 20:19] vals commented on #6
Indeed, there seem to be an issue with the VB!

![em-vs-vb](https://cloud.githubusercontent.com/assets/668803/8139050/66a879be-1148-11e5-93fb-02827f2185a1.png)

Not using VB gives exactly the same quantification as 0.3.2.

[2015-06-12 20:22] rob-p commented on #6
Thanks for reporting back (with the nice plots!).  This is interesting, because, at least in our other testing, the VB seems to be performing slightly *better* than the EM.  One guess I have is that the VB Opt tends to produce slightly sparser solutions than the EM opt.  Usually, this is a "good thing".  However, if you're dealing with such small datasets (n ~50), then dropping a few points could

[2015-06-12 20:36] vals commented on #6
Could the "sparser solution" bit mean that more reads are required before convergence? All these data sets have pretty shallow sequencing depth.

The data is public :), though two of the batches is behind an EGA wall. The other three batches are from [SRP030617](http://www.ebi.ac.uk/ena/data/view/SRP030617) and [SRP041736](http://www.ebi.ac.uk/ena/data/view/SRP041736).

In SRP030617 the samples wi

[2015-06-13 19:58] dcjones commented on #6
I have a pretty wide array of benchmarks and I haven't seen any regression with the VB option on 0.4.1, including ERCC spike-ins on the SEQC data, where it does very well. But I haven't tested 0.4.0.

@vals your data looks really compelling, I wonder if you'd humor me and try something, if it's not too much trouble: Could you try recomputing these correlations excluding ERCC-00074 and ERCC-00130?

[2015-06-15 22:11] rob-p commented on #6
@vals, it shouldn't be a coverage issue, at least as compared to previous versions of Salmon.  Hopefully we'll have a chance to look at this soon and see if we can figure out what might be causing the performance "regression" when `--useVBOpt` is enabled.  As @dcjones suggests, we haven't really seen any performance degradation with the VB option in our other testing, so I suspect something charac

[2015-06-16 05:00] dcjones commented on #6
Happy to compare notes! For benchmarking accuracy I'm mostly using data from SEQC. There are four reference samples, each sequenced quite deeply at several different labs. I took 20 lanes from BGI, which is about 100 million reads, which I compare it to TaqMan (~800 genes), PrimePCR on (~18000 genes), and ERCC spike-ins.

On top of that, to get more directly at isoform-level accuracy, I'm simulati

[2015-07-14 16:30] sjackman opened #8 "Use apparent transcript length rather than actual transcript length (feature request)"
When calculating the TPM, it may be an idea to use the length of the transcript that has reads mapped to it rather than the FASTA length of the transcript. It may be difficult to define "the length of the transcript that has reads mapped to it" or require choosing arbitrary thresholds to define what portion of the transcript is transcribed.

See https://twitter.com/sjackman/status/6209847401500303

[2015-07-30 11:47] ehiggs commented on #6
@vals your profiling work is pretty useful. It would be better if it were automated so you didn't have to do the work manually. Have you considered putting in a PR to get salmon and friends working with [asv](https://github.com/spacetelescope/asv)?

[2015-07-30 14:18] ehiggs opened #9 "Please support Intel CPUs."
The CMakeLists.txt refuses to handle anything except GNU and Clang compilers. It should be easy to support Intel as well since it understands most/all(?) GNU compiler flags.

CMAKE will report the compiler type as "Intel" and [C++11 is supported from 14.0 and forward](https://software.intel.com/en-us/articles/c0x-features-supported-by-intel-c-compiler).

My rough wip to get this building uses the

[2015-07-30 14:31] rob-p commented on #9
Hi @ehiggs,  You're right; there's no real reason we shouldn't be able to support ICC.  The only issue is that we currently don't have access to a machine with icc, so this prevents us from testing the build ourselves.  Is there a (free) resource (similar to Travis) that would allow us to test ICC builds?  I'd be willing to add CMake support either way, but it would obviously be better if we could

[2015-07-30 23:39] ehiggs commented on #9
@rob-p We have our own Jenkins install at Gent University that we use to make sure [EasyBuild](http://easybuild.readthedocs.org/en/latest/) scripts build a wide range of scientific software. I don't think we're to open it up for free use.

I see there is AppVeyor but they only support Visual Studio. I'll take a look at what's available.

[2015-08-03 07:55] ehiggs commented on #9
I asked about this on travis-ci's irc channel and they asked that I create an [issue](https://github.com/travis-ci/travis-ci/issues/4604).

[2015-08-03 17:08] sjackman opened #10 "error installing: CMake Error: Problem with archive_write_finish_entry(): Can't restore time"
I get the following error when installing `salmon`:
[code]

Is it possible to compile `salmon` with its external dependencies provided externally rather than vendored into `salmon`? What is `cereal`?

[2015-08-03 17:09] sjackman commented on #10
This `cmake` issue appears to be a bug in Linuxbrew. See https://github.com/Homebrew/linuxbrew/issues/391

[2015-08-03 17:17] rob-p commented on #10
Interesting! `cereal` is a C++ serialization library.  Is the problem related to a specific version of `cmake` within Linuxbrew?

[2015-08-03 17:37] sjackman commented on #10
My guess, and this is a long shot, is that it's a bug in the `tar` library of `cmake`, that's made evident because my system at work has up-to-date Linux headers and glibc but is running an eight-year-old Linux kernel (CentOS 5.10). I can upgrade everything with Linuxbrew except the running kernel. I've seen this situation show bugs before when the software uses compile time kernel feature checks

[2015-08-03 17:40] sjackman commented on #10
Note that I do (now) have `cereal` installed, so there is no need for `salmon` to download and build it. It would be nice if this were an option to use the system-provided `cereal` library.

[2015-08-03 17:47] rob-p commented on #10
Noted --- I'll add an option to look for it locally first.

[2015-08-03 17:50] sjackman commented on #10
Thanks, Rob!

No smart dashes in GFM? Shame. If you're on a Mac, Option-hyphen and Option-Shift-option produce en- and em- dashes respectively. Option-semicolon produces an ellipses. I use these three shortcuts all the time.

[2015-08-18 20:04] boegel opened #11 "attempts to switch to different downloaded tarball for jellyfish fail"
On the system I'm trying to install Salmon 0.4.2 on, downloading from `ftp://` is blocked for security reasons. Therefore, the automagic download the Jellyfish 2.1.3 source tarball fails.

I tried adjusting the `CMakeLists.txt` files to use the latest Jellyfish 2.2.3 instead, but this leads to an issue with a Jellyfish include file not being found:

[code]

This is weird, because the correct `incl

[2015-08-19 08:17] ehiggs commented on #11
Maybe move the download stuff into an `install_deps.sh` script.

[2015-08-24 05:08] pimentel opened #12 "[bns_restore_core] Parse error reading"
Hi folks,

I'm trying to run DebianSqueeze Salmon v0.4.2 with some issue in the 'quant' step. Here is the skinny:

- ERCC + latest human ensembl transcriptome
- Index builds fine -- no apparent issues
- Quant step fails with the following output:

[code]

I've provided a reproducible and self-contained Snakefile that only depends on the binaries being dumped in `~/software` and the reads_*fastq be

[2015-09-23 21:13] bwlang opened #13 "Check for non-random ordered reads and fail"
I think the requirement for random ordered reads is surprising for some...
Documentation is good, but given how consequential it is to run with ordered reads (see https://twitter.com/KeywanHP/status/646661366774923264), would it make sense to fail if the first 1000 reads are from the same chr and position increases monotonically?
Or at minimum, fail if the BAM has a so:coordinate header.

[2015-09-23 22:06] rob-p commented on #13
This is a *good idea*.  There's a little bit of trickiness, in that the multi-threaded read parser need not provide reads in the same order as in the input file.  However, I think we could have a heuristic that checks for ordering according to the reference *within* each parallel-processed bucket.  It probably also makes sense to provide a flag to override it if the user is **sure** that the reads

[2015-09-29 13:36] rob-p opened #14 "Remove antiquated and potentially confusing reporting of "overall" mapping rate."
The "effective" mapping rate is the true mapping rate that is used e.g. in the TPM / estimated number of reads calculations.  The overall mapping rate, in addition to being poorly named, is a historical artifact.  The proposal here (which should be implemented in the next release) is to report only a single "mapping rate" (which will be equal to what is currently the "effective" mapping rate), tha

[2015-09-30 16:30] nicolasstransky opened #15 "Salmon fails to match the transcript name between Gencode reference and annotation files"
The transcript names in Gencode's reference sequence fasta files have the following format:
ENST00000257408.4|ENSG00000134962.6|OTTHUMG00000128577.1|OTTHUMT00000250429.1|KLB-001|KLB|6082|UTR5:1-97|CDS:98-3232|UTR3:3233-6082|

In the .gtf gene annotation files, only the transcript name appears:
ENST00000257408.4

As a consequence, salmon fails to match them and does not report the correct values in

[2015-09-30 16:42] rob-p commented on #15
Hi @nicolasstransky --- thanks for reporting this.  Now the question is, how should this be handled?  I see at least 2 obvious possibilities :

1.   Assume that the transcript name should be split at the first whitespace character **or** `|`.  Currently,
      it is only split at the first whitespace.
2.   If a gtf is provided for gene-level quantification, ensure that some non-trivial number of g

[2015-09-30 16:47] mdshw5 opened #16 "Library format checking for stranded libraries gives uninformative debugging messages"
I've just been testing Salmon using Illumina TruSeq stranded (dUTP) libraries. Using either `ISF` (correct libType) or `ISR` I get a __ton__ of messages like this:

[code]
and so on...

It seems that the [`LibraryFormat` class](https://github.com/COMBINE-lab/salmon/blob/a6a4fe0dcf71674a59eb901d5ec6933df40de7f2/src/LibraryFormat.cpp#L52) is performing this check, and that the string format method i

[2015-09-30 16:54] nicolasstransky commented on #15
Fair points. There are potentially a lot of special cases but since Gencode is widely used, it would be great to have a way to handle its format natively (i.e consider ` | ` in addition to a whitespace).
It think the problem with 2. is not a real problem because if you can't match transcript names in the gtf file that is provided, it's likely that there is a problem with the input.

[2015-09-30 17:00] mdshw5 commented on #15
This issue reminds me to ask: what is the best way to ingest a GTF plus reference FASTA file and produce a transcript FASTA file ready for salmon indexing? I see that there may be some issues with using cufflinks gtf-to-fasta tool: https://groups.google.com/forum/#!msg/sailfish-users/oNVLlxJzgv4/nQYt9m4BBOcJ

[2015-09-30 17:02] rob-p commented on #15
@nicolasstransky --- Ok, so, while I'm generally reticent to adopt special cases, GenCode may warrant one.  Or, a more general solution would be to allow the user to specify a list of "separator" characters while indexing (which defaults to `\s+`).  I think that, so far, I actually like this option the best.  Also, this isn't mutually exclusive with 2.  The ideal thing would be to (1) allow arbitr

[2015-09-30 17:04] rob-p commented on #15
@mdshw5, the best option I've found so far is actually [rsem-prepare-reference](http://deweylab.biostat.wisc.edu/rsem/rsem-prepare-reference.html).  It's a bit slower than gtf-to-fasta, but, so far, seems to do a better job producing a usable transcriptome in the general case.

[2015-09-30 17:08] rob-p commented on #16
@mdshw5 --- Salmon has definitely become less "complain-y" in the newer versions.  That is, it will no longer spew out error messages for all of the fragments that show up in an unexpected orientation.  However, the summary statistics are currently very "summary".  There is a file in the quantification directory called `libFormatCounts.txt` that summarizes the number of alignments seen in the diff

[2015-09-30 17:19] nicolasstransky commented on #15
@rob-p Using a list of "separator" characters is a nice idea. I think that's the best solution so far. However, it would also be a good thing that Gencode files work "out of the box" since they are so commonly used.

[2015-09-30 19:33] mdshw5 commented on #15
Thanks, @rob-p. In the same vein, have you considered taking a GTF + FASTA for `salmon index`? It seems this might even solve @nicolasstransky's issue here.

[2015-10-01 05:36] mr-c opened #19 "upgrade CMakeLists.txt to use external copies of dependencies & no downloading"
Hello!

I'm packaging salmon and many of its dependencies for Debian in support of https://github.com/Blahah/transrate/issues/160

I have a messy patch to enable the use of external libraries instead of bundled or downloaded copies at http://anonscm.debian.org/cgit/debian-med/salmon.git/plain/debian/patches/dependency-fix

As I'm not a CMake expert I was only able to make it work for Debian instea

[2015-10-01 12:49] rob-p commented on #11
I've figured out the incompatibilities with Jellyfish 2.2.3 and switched to that in the [quasimapping](https://github.com/COMBINE-lab/salmon/tree/quasimapping) branch.  This will be merged back into master and made part of the next release as soon as we're finished with porting the bootstrapping feature from Sailfish.

[2015-10-01 13:05] rob-p commented on #19
Hi @mr-c,

  First of all, **thank you** for your monumental effort in supporting salmon as a Debian package.  I think this is fantastic.  I'm also not a CMake expert, but I've failed with it enough times to start to get a handle.  I have actually moved to the latest version of Jellyfish (v2.2.3) in the [quasimapping branch](https://github.com/COMBINE-lab/salmon/tree/quasimapping), which will be m

[2015-10-02 04:30] mr-c commented on #19
Hey @rob-p, you are quite welcome; thanks for the warm response.

Being system installed packages most headers and dynamic libraries will be installed using the standard prefixes: /usr/include, /usr/lib/${multiarch-tuple}/,

I've updated the checklist [above](https://github.com/COMBINE-lab/salmon/issues/19#issue-109233280) with links to the file lists so you can see the paths yourself.

Interestin

[2015-10-05 20:30] lgautier opened #20 "`Error: no such instruction: 'xtest'` when building salmon"
Hi,

I am getting the following when building Salmon (gcc/g++ 4.8.2, and boost from `-DFETCH_BOOST=TRUE` when calling cmake)

[code]

[2015-10-05 20:52] rob-p commented on #20
Hi @lgautier,

  The problem here is that, though your version of GCC is new enough, your system has an old assembler, that is not capable of outputting the instructions that TBB wishes to employ.  One work around for this is to pass the extra flag `-DNO_RTM=TRUE` to CMake.  This should allow you to build an appropriate version of TBB, even with an older assembler.  Please let me know if this solv

[2015-10-05 21:44] lgautier commented on #20
Hi @rob-p ,

It does solve that issue.

(I had figured out that AVX features were probably on the oldish side of software on that system, but I had the most recent `gas` available without having to recompile it from source myself).

Thanks a lot (for this answer and for Salmon)

[2015-10-05 21:44] #20 closed

[2015-10-05 22:40] lgautier opened #21 "Error building salmon (possible issue with Boost's iostreams)"
Hi,

Building salmon with `-DFETCH_BOOST=TRUE` ends with an error that might be caused by the build process looking to iostreams in the wrong place.

The end of the ouput on the terminal is:
[code]

Earlier in the output I can spot this:
[code]

[2015-10-05 23:11] lgautier commented on #21
I am confirming the suspicion that the build process is trying to use the system's Boost.

After I installed boost-iostreams and boost-serialization through the system's package manager the build completes (despite that boost being older that the one fetched and built earlier during the `make` step)

[2015-10-09 20:36] bwlang opened #22 "Space in fasta sequence causes quiet failure"
I had a fasta file with an space at the end of a sequence line. This caused salmon to fail, somewhat quietly (no output files are produced).

It would be nice to report the specific problem with the input or position of the failing line, ...

log:
<pre>
Logs will be written to output_dir/logs
there is 1 lib
[2015-10-09 15:47:13.170] [jointLog] [info] parsing read library format
[bns_restore_core]

[2015-10-09 22:02] rob-p commented on #22
Thanks for reporting this.  Certainly, failure should be more apparent.  Out of curiosity, is the failure in building the index?  It looks like loading the index didn't work, so was the space character that caused the problem in your reference file?

--Rob

[2015-10-09 23:21] bwlang commented on #22
Hi rob...

Yep, I found it with a binary search of the fasta reference file

On Friday, October 9, 2015, Rob Patro <notifications@github.com> wrote:

[2015-10-29 17:36] lgautier commented on #21
The problem can also be solved by adding the following switch to the cmake call: `-DBoost_NO_SYSTEM_PATHS=ON`

(this is was documented in an other issue on this tracker, but I did not find it earlier)

[2015-10-29 17:36] #21 closed

[2015-10-31 20:11] ctb opened #24 "Error compiling salmon on Ubuntu 14.04"
After starting a blank Ubuntu machine, and then executing:

[code]

gives

[code]

I'm not sure if this is a Boost version requirement, or what -- looks like I have boost 1.54 installed.

Suggestions welcome!

[2015-10-31 20:14] ctb commented on #24
Looks like it's not in 1.54 - http://www.boost.org/doc/libs/1_54_0/libs/config/doc/html/boost_config/boost_macro_reference.html

[2015-10-31 20:29] ctb commented on #24
Added

[code]

to include/SalmonMath.hpp and life is good (or at least salmon compiled ;).

[2015-10-31 20:59] rob-p commented on #24
Thanks, Titus!  I'll add this upstream.

[2015-10-31 22:34] ctb commented on #24
See https://github.com/COMBINE-lab/salmon/pull/25.

[2015-10-31 22:59] ctb opened #27 "Documentation currently omits the need for index type"
http://sailfish.readthedocs.org/en/latest/salmon.html#using-salmon doesn't talk about the need for a '--type' argument to salmon index.

[2015-10-31 23:06] ctb opened #28 "Recognition of file type for reads based on filename, not content"
So, it won't let me use .fq.1 and .fq.2 - it has to be .1.fq and .2.fq.

I think either allowing a 'force' or simply checking to see if the file is FASTQ would be great.

[2015-10-31 23:07] ctb opened #29 "Salmon wants pairs in different files"
It would be nice to be able to specify sequences in interleaved form as well.

[2015-11-01 13:46] ctb commented on #29
In particular, this would enable streaming behavior => transcript quantification, downstream of khmer error trimming etc. c.f. http://khmer.readthedocs.org/en/stable/whats-new-2.0.html cc @MacManes @Blahah

[2015-11-01 13:56] rob-p commented on #29
@ctb — One thing that would be required for this (apart from some engineering of the command-line parsing / validation code) is a trustworthy, efficient, *multithreaded* `FAST(A/Q)` parser for interleaved format reads.  Right now, Salmon (& Sailfish, &RapMap, & most of the other HTS-centric methods we're developing) use the Jellyfish 2 read parser.  I've made this choice since it's fairly simple t

[2015-11-01 13:57] macmanes commented on #29
how about https://github.com/lh3/seqtk?

[2015-11-01 14:06] rob-p commented on #29
@macmanes — Heng's code is very well-tested, but afaik, completely serialized.  Of course, that's nothing that we couldn't handle internally by throwing the reported reads into our concurrent queue.  Actually, I think that the Jellyfish 2 parser (for a single `FAST(A/Q)` file) would be easy to make work in this context.  The trick is to require that the read "batches" always end on an even-indexed

[2015-11-01 14:09] macmanes commented on #29
I'd be interested in seeing runtime differences between the 2 doing equivalent tasks. My experience with seqtk is that it is very fast for the tasks I use it for (mostly interleaving reads).

[2015-11-01 14:15] rob-p commented on #29
I, too, would like to see the relative performance of the two libraries.  The only challenge is in making the comparison apples-to-apples (i.e. enabling multi-threaded parsing in seqtk with minimal overhead — a concurrent queue is cheap, but not free).

[2015-11-01 14:19] ctb commented on #29
On Sun, Nov 01, 2015 at 06:15:19AM -0800, Rob Patro wrote:

Other points worth considering:

* there's a runtime overhead to constantly changing sequencing formats.  Some
  programs want split, others want interleaved.  We've settled on interleaved
  because it enables streaming, which is a major win (2-4x performance); and
  also because having one file is better than having 2 or 4.

* the manage

[2015-11-01 14:27] macmanes commented on #29
Agree with the pain associated with diff formats - it's for this reason that I yammer on about streaming and tools taking in reads on the stdin/writing to the stdout where possible. I'm always looking for alternatives that allow for streaming (e.g., using Skewer (https://github.com/relipmoc/skewer) over Trimmomtic). I'm hopeful natural selection will weed out non-streaming/interleaving tools..

So

[2015-11-01 14:32] ctb commented on #29
+1 rant ;)

[2015-11-01 14:43] rob-p commented on #27
The salmon docs are in a separate location [http://salmon.readthedocs.org/en/latest/](http://salmon.readthedocs.org/en/latest/) --- the requirement for the `--type` argument should be there.

[2015-11-01 16:25] ctb commented on #27
OK, so do I file an issue on the sailfish project to get them to put a new link in, or what? :)

[2015-11-01 16:48] rob-p commented on #27
So, I've already updated the docs *here* (i.e. the doc tag in the ReadMe should  should point to the link I give above).  I believe the right thing to do over in the Sailfish docs is to just remove any documentation about Salmon (since the projects are now maintained in separate repos each with their own docs).

[2015-11-01 16:48] #27 closed

[2015-11-01 16:51] ctb commented on #27
k!

On Sun, Nov 01, 2015 at 08:48:45AM -0800, Rob Patro wrote:

--
C. Titus Brown, ctbrown@ucdavis.edu

[2015-11-01 17:00] rob-p commented on #27
Ok --- The sailfish docs should be updated as well [http://sailfish.readthedocs.org/en/master/](http://sailfish.readthedocs.org/en/master/).  Let me know if you see something different (i.e. if you still see the salmon instructions over there).

[2015-11-01 17:42] ctb commented on #27
Currently still there: http://sailfish.readthedocs.org/en/latest/salmon.html?highlight=salmon - will look later.

[2015-11-01 18:08] rob-p commented on #27
Thanks for checking. It's a latest vs. master issue; should be fixed on all branches now.

[2015-11-01 20:54] #24 closed

[2015-11-03 14:28] ctb commented on #27
Not yet :)

[2015-11-03 16:07] rob-p commented on #27
Fought RTD a bit, but now it looks good from my end (make sure your browser isn't caching the page) ... hopefully this resolves it!

[2015-11-03 21:38] ctb opened #30 "Salmon ignores "S" in --libtype ISF"
Hi, we're having trouble with salmon on a stranded library -- we're executing

[code]

and then

[code]

We then get the warning that there is a big strand bias in an unstranded protocol, despite having specified stranded (S) in libType.  Inspection of the libFormatCounts.txt file confirms this, with "expected format" specifying "strandedness:unstranded".

[2015-11-03 21:57] rob-p commented on #30
I opened an issue in the ngs notes about this.  I need to update the docs; the library format string should come before the reads (I.e. -1, -2, -r).

[2015-11-03 22:32] ctb opened #31 "Question: does salmon use "single-mapped" reads for quant?"
When doing paired mapping, we get a lot of single-mapped reads (probably indicative of a crappy transcriptome - we know, we know). Do these reads count towards quantification?

[code]

[2015-11-04 01:01] rob-p commented on #31
That's a surprisingly low mapping rate, maybe s/crappy transcriptome/very crappy transcriptome/ --- ;P. Anyway, yes, salmon counts single-end reads toward quantification.  The way quasi-mapping works is that it first looks for paired-end reads that are mapped to the same contig.  If those exist, it reports all such mappings.  Otherwise, it reports the single-end mappings for each of the ends.  The

[2015-11-04 01:01] #31 closed

[2015-11-04 14:44] ctb commented on #31
thx!

Yes, it's the official equine transcriptome, which is quite poor.

[2015-11-12 14:48] ctb commented on #27
resolved! thx.

[2015-11-12 17:34] rob-p commented on #27
Great!  Thanks for putting up with my embarrassing struggle to get RTD to do what I wanted :).

[2015-11-12 17:39] ctb commented on #27
:) I've been there!

[2015-12-09 19:15] mdshw5 commented on #29
If salmon would just read stdin using a symbolic `-` then you should be able to do something like:

[code]
...as long as the fastq reading logic is operating on 4-lines at a time. This way there's no new arguments added to salmon.

[2015-12-09 21:24] rob-p commented on #29
:+1:

[2015-12-23 08:02] HamletShaoE opened #32 "How to convert TPM to FPKM from Salmon output"
Hi, I really like salmon, it's really fast. Somehow I need FPKM rather than TPM. I got the output with 3 values out: Length, TPM and NumReads.
In RSEM, they have both length (which equal to the length I got from salmon and is an integer) and effective length (which is used for transition between FPKM and TPM).
It seems that effective length is the term used to calculate TPM and also for transition

[2015-12-23 13:08] rob-p commented on #32
Hi @HamletShaoE --- what version of Salmon are you using?  If you are using the latest version, in addition to the `quant.sf` file, there is a file in the output directory called `stats.tsv`.  The format of this file is a list of key-value pairs.  The first key-value pair lists the total number of observed fragments in the input (and can be ignored for your purposes).  Each subsequent line lists a

[2016-01-02 00:05] vals opened #33 "Can be fragment start position distribution be inferred with less than 5 million reads?"
Are the results from inferring the fragment start distribution really bad for fewer reads?

The data I'm working on usually have ~1 million reads per sample.

[2016-01-02 00:14] vals opened #34 "Segmentation fault when reporting results (0.6.0)"
I was just trying out the new version. It seems to be working, but it seems to fail at the time of printing results.

Here's a tail of the text output:
[code]

[2016-01-02 00:40] rob-p commented on #34
Hrmm --- so at this point the transcript-level estimates have been written.  It seems there is some issue with the aggregation to the gene level.  My guess is something awry with its interpretation of the gtf file.  If you can share the data, I can try and reproduce the issue and see where the problem is.

[2016-01-02 00:41] #32 closed

[2016-01-02 00:41] #30 closed

[2016-01-02 00:53] vals commented on #34
The aggregation works, and I get the same problem when not providing a gene map.

Both quant.sf and quant.genes.sf are actually written. The segfault must be upon exit or something.

[2016-01-02 01:01] rob-p commented on #34
Ok; that's strange b/c I'm not getting segfaults on either the version compiled from source or the debian binary (I'm assuming your on Linux).  Would it be possible to share the data that's causing this issue?

[2016-01-02 01:08] rob-p commented on #33
I haven't done too much testing with the quality of inferring the fragment start position distribution with few samples.  5 million is probably overkill, as it's a fairly low-dimensional model --- you could try setting the number of burnin fragments to a lower number.

[2016-01-02 01:09] rob-p commented on #34
Hrmm --- I take that back!  I get the segfault with the pre-compiled version (but not the version compiled from source!).  And, as you say, it seems to write out the results correctly.  I'll take a look and report back here.

[2016-01-02 01:10] vals commented on #34
Oh, great, was making a small example data set. I'll stop that then.

I was trying to compile, but I can't get Boost installed with linuxbrew for some reason.

[2016-01-02 01:21] vals commented on #33
Is this the `--numAuxModelSamples` parameter?

[2016-01-02 01:22] rob-p commented on #33
I would try and set both `--numAuxModelSamples` and `--numPreAuxModelSamples` to the same (lower) value --- maybe 100-200k.

[2016-01-02 02:17] rob-p commented on #34
Still looking, but this is very strange!  It happens when the program is exiting, during the destruction of some objects.  Strangely, it doesn't happen on the test data (also it's strange that it doesn't happen in the version compiled from source).

[2016-01-02 03:23] rob-p commented on #34
The segfault seems to be happening with Jemalloc (an external dependency).  I'm going to see if switching to tcmalloc in the binary build fixes it.

[2016-01-02 04:49] rob-p commented on #34
OK --- I think I fixed it; can you re-download the v0.6.0 binary and see if the segfault goes away for you?  I think it was the result of failing to give a particular class a default constructor --- a certain variable was being initialized properly on my newer compiler, but that was not the case on the older compiler on the VM where I build the binary.  If this resolves the issue for you, I'll pro

[2016-01-02 17:52] vals commented on #34
I just redownloaded and extracted and tried again, and unfortunately the problem persists =/

[code]

If you want I can upload index and a couple of fastq files somewhere so you can try?

[2016-01-02 18:13] rob-p commented on #34
Sure --- since, at this point, I don't seem able to reproduce the issue any more.  Just for a sanity check, can you md5sum the binary you have?  I have `fc39599b6c027eb97bb2f4c7bdd361f3`.

[2016-01-02 20:04] vals commented on #34
That's the same md5sum as I have:

[code]

[2016-01-02 20:06] rob-p commented on #34
OK --- very strange.  I've been testing it out on different data and have been unable to reproduce the segfault.  I'll try on your dataset when it's ready to see if the problem pops up.  I actually hope it does, because it will be a very tricky bug to fix if it only happens on certain hosts!

[2016-01-02 20:38] vals commented on #34
It gets stranger... I prepared a public directory with the files I use and made a bash script to reproduce the run of salmon. This directory is in my home folder, and has symlinks to the actual NFS locations of the files: http://www.ebi.ac.uk/~vale/salmon-problem/

[code]

But when I run the script there, it succeeds, without segfault.

[code]

The command run being:
[code]

But if I instead run s

[2016-01-02 20:53] vals commented on #29
Having spent a couple of hours now trying to streamingly pass two streams without having to mess with FIFOs I also think an interleaved mode in the fastq parsing would amazing..

[2016-01-02 21:05] rob-p commented on #34
Argghh --- that's gonna be a thinker.  Can you try running it under GDB?

[code]

when it segfaults, you can issue the `bt` command to at least see where.  If its still inside of JeMalloc, I can build another binary with just the standard allocator to see if the problem persists there (its strange that it depends on where the file is coming from! I don't have any NFS mounts either to test on).

[2016-01-02 21:13] rob-p commented on #29
@mdshw5 --- if you replaced `-` with `/dev/fd/0`, would that work right now?

[2016-01-02 22:00] vals commented on #34
Especially since the files in both cases actually are in the same location... I could imagine it being an issue with something going write with the communication over the NFS. But in the working case it's just links to the same NFS location.

Here is the tail of the gdb output:
[code]

It does indeed seem to be inside JeMalloc.

[2016-01-02 22:01] mdshw5 commented on #29
I think it might as long as the IO is chunking 4 lines at a time from each file.

[2016-01-02 23:29] rob-p commented on #34
Hi @vals --- here is a version compiled with tcmalloc instead of jemalloc.  Let me know if this helps at all.  If you're still seeing this issue, I'll try one with vanilla malloc.

[SalmonBeta-0.6.0_DebianSqueeze_tcmalloc.tar.gz](https://github.com/COMBINE-lab/salmon/files/76427/SalmonBeta-0.6.0_DebianSqueeze_tcmalloc.tar.gz)

[2016-01-03 01:01] vals commented on #29
I just tried the /dev/fd/0 approach.

First I ran

[code]
In this case the following is the content of the `salmon_quant.log`
[code]

Then I ran
[code]
Now I get
[code]

(FYI, this might be a failed sample, I just grabbed on at random, hence the low mapping rate).

There's a discrepancy of about 800k observed reads. The number of mapped fragments is roughly twice for the interleaved version. So it

[2016-01-03 01:09] vals commented on #34
This version seem to work without any issues!

[2016-01-03 01:09] #34 closed

[2016-01-03 01:16] rob-p commented on #29
I can imagine that this approach may not work with the way jellyfish parses paired-end files.  I'll take a look at the parsing code.

[2016-01-03 01:22] rob-p commented on #34
Cool!  I'll post this under releases with a brief note when I get home.  I'll probably leave both binaries under the releases.  I'm still very curious what's up with jemalloc!

[2016-01-03 15:19] ctb commented on #29
Right, any buffering at all is going to kill this.

[2016-01-03 16:41] rob-p commented on #29
Yea; so I think the only way to do this currently (without me modifying the jellyfish parser) is to just use 2 fifos.  I could put together a simple bash or python script together for this if there is interest (until we support interleaved format natively, which I'll add to the feature list).

[2016-01-03 18:20] vals commented on #29
The most annoying thing about FIFOs for me is the need to remove them after having used them. Especially if something fails between making them and finishing. Do you know a good solution for this?

[2016-01-03 18:25] ctb commented on #29
On Sun, Jan 03, 2016 at 10:20:29AM -0800, Valentine Svensson wrote:

It'd be straightforward, I think, to provide an option in khmer's
read processing scripts to output as FIFOs; then all of this could
be handled programatically inside the script.

[2016-01-03 19:47] vals commented on #29
I haven't kept up with khmer so I'm not sure what it does. Can I do something equivalent of this with khmer?
[code]

I just want to be able to do these sorts of things without wrapper scripts that obfuscate and complicate things... But maybe a robust bash wrapper is the best way to go.

[2016-01-03 20:10] rob-p commented on #29
I'm also not quite convinced about the superiority of either approach.  On one hand, it would, of course, be nice to have sailfish and salmon natively support as many file formats as possible.  On the other hand, every extra file format increases the complexity of the parsing code paths, probably putting us in some technical debt, and creating more opportunities for bugs to creep in.  From this pe

[2016-01-03 22:22] mdshw5 commented on #29
There should be easy ways to handle reading line-buffered input from two file descriptors, where both file descriptors could be identical, and then passing these streams internally to buffers to be chunked for multithreaded processing. This would give you one code path for ingesting data, and the command line interface could remain the same as it is currently, with the possible addition of mapping

[2016-01-04 01:37] rob-p commented on #29
Actually, @mdshw5 --- it's not quite clear to me why the parser isn't doing the right thing in this case.  If you take a look at how the paired-end sequence parser is actually populating the internal buffer (e.g. [here](https://github.com/COMBINE-lab/salmon/blob/master/include/PairSequenceParser.hpp#L182)), it is reading one entry from stream1 and then one entry from stream2.  I'm guessing there m

[2016-01-04 02:18] mdshw5 commented on #29
I actually didn't test it :). I'll confirm the current behavior tomorrow. Thanks for following up on this!

[2016-01-04 05:09] rob-p commented on #29
[Here's](https://gist.github.com/rob-p/963848ba35fb49fefaa3) a sketch of a shell script-based solution that might work.  It relies on [this](https://gist.github.com/nathanhaigh/3521724) shell script to do the de-interleaving (but it can use whichever tool we might decide is best for the job).  You'd run it with the interleaved file like so:

[code]

Basically, the script checks to see if the `--in

[2016-01-04 09:28] vals commented on #29
That works!

I wrote something very similar yesterday but using a here document generated from a Makefile in to job scheduler, and I couldn't get it to work. I'll file that under overcomplicating things...

[2016-01-04 16:37] rob-p commented on #29
Yup; I think there are some potential places for improvement (e.g. the interleaved splitting code could be incorporated directly into this script, and the parsing could be improved to handle multiple interleaved files directly), but it seems to work pretty well.  Also, when making this, I learned about the `trap` command, which should do what we want in terms of ensuring that any created fifos are

[2016-01-04 21:51] rob-p commented on #29
I've updated the runner script so that it is now self contained (i.e. it no longer relies on deinterleave_fastq.sh as an external script).  Once we're able to modify it to work with multiple input interleaved fastq files, I'll add it to the official repository.

[2016-01-07 14:28] rob-p opened #36 "Automatically infer read orientation"
Suggested by @mdshw5: As is done by BWA-mem, use a small batch of reads to infer the most likely library orientation.  The user should also be able to explicitly provide the library type, which will by-pass the inference and impose the user's choice on the fragment compatibility function.

[2016-01-07 14:47] mdshw5 commented on #36
Sounds great. I like the idea of allowing the user to override this parameter selection as well...
cc @jmerkin

[2016-01-12 20:07] rob-p commented on #34
Hi @vals,
  I'm still trying to track down this bug and figure out why it occurred in the first place.  I've been working on a different way to deal with reclaiming the resources that caused the problem before and was wondering if you'd be willing to test the attached binary to see if it still segfaults on your data.
 Thanks! [SalmonBeta-0.6.1_DebianSqueeze.tar.gz](https://github.com/COMBINE-lab/s

[2016-01-22 17:08] rob-p commented on #29
I'll be adding this script to the next release (which should happen very soon).  At that point, I'll close this issue unless anyone objects.  I may still look into supporting interleaved format natively in the future, but for now this approach seems to work well.

[2016-01-22 22:52] mdshw5 opened #37 "Silent failure while loading index"
I have a salmon index which fails silently when used:

[code]
Then the process exits and nothing but the `cmd_info.json` and log file are written to disk. The sequencing library is not an issue, as I can use several other index files successfully. This is reproducible with ~600 sequencing libraries as well. I believe this also occurs using v0.6.0, but will confirm.

Since there is no core dump, is

[2016-01-22 22:58] rob-p commented on #37
Strange --- were there any complaints during *index* creation?  Was the index created successfully?  Since there's no core dump, the only thought is that I could try to re-create on a small sample (the reference plus a small set of reads).

[2016-01-22 23:10] mdshw5 commented on #37
Confirmed with v0.6.0:

[code]
I'll check the index creation logs, but didn't notice anything out of the ordinary...

[2016-01-22 23:12] rob-p commented on #37
It seems there are a bunch of targets --- ~500k.  That's not a problem, but does that sound right for this reference?

[2016-01-22 23:13] mdshw5 commented on #37
Yes :)

[2016-01-22 23:18] rob-p commented on #37
One more question --- what is the approximate size (in nucleotides) of the reference.  If it's greater than ~2.14 billion, then it should be using the 64-bit index, which this one is not.

[2016-01-22 23:22] mdshw5 commented on #37
That was going to a my next question!

[2016-01-22 23:26] rob-p commented on #37
If it is a *large* (i.e. > 2^31 nucleotide reference) then it should trigger the 64-bit index automatically.  If there's a failure to do that, it's a bug I have to fix in RapMap.  Admittedly, I've not tried to map to many transcriptomes that large, so I'd be much obliged if you could provide me with an example to trigger that behavior :).

[2016-01-25 14:59] mdshw5 commented on #37
The indexing log shows nothing out of the ordinary:
[code]
There was actually a blank line at the very end of the transcriptome FASTA which I though might be related to #22, so I removed this line, re-indexed and have the same behavior. I'll check on the nucleotide size of the transcriptome now.

cc @jmerkin

[2016-01-25 15:57] mdshw5 commented on #37
The nucleotide size is `1486025420`, so we are using the correct bit depth. I'm checking the FASTA headers for strange characters that might cause a parsing issue. Anything that I should look for?

[2016-01-25 16:50] rob-p commented on #37
Yes; that should definitely correctly be identified as 32-bit.  The way the parser works is that it "chops" the header at the first whitepsace character.  I can't think of anything that would cause failure during mapping (but bugs come from exactly the kind of thing you can't think of).  Something that might cause an issue now that I think about it is a complete poly-A transcript.  The indexer wil

[2016-01-25 17:04] mdshw5 commented on #37
Thanks for the suggestions. I'm building the quasi index using RapMap now. If I get the same behavior I'll they to debug on my end before leaning more on you.

[2016-01-26 15:40] roryk opened #38 "Output pseudobams?"
Would it be possible to output a pseudobam file, similar to kallisto?

We'd use the pseudobam file to clean PCR duplicates by using unique molecular identifiers (UMI), often used when doing single-cell RNA-seq. The way we are currently doing it is by sticking the UMI for each read in the read name, aligning and then cleaning the BAM file by keeping only alignments with unique (UMI, mapping positio

[2016-01-26 15:48] mdshw5 commented on #37
rapmap works fine with this set of transcripts. indexing:
[code]
which looks fine, and then alignments are generated and `rapmap` exists with no errors.

[2016-01-26 15:55] rob-p commented on #37
That is . . . strange!  Salmon *literally* uses the RapMap index (and the RapMap functions) directly to obtain the quasi-mappings.  One thing I noticed is that you seem to be using `pseudoindex` which is our independent re-implementation of pseudo-alignment.  However, Salmon (and Sailfish) use quasi-mapping (RapMap's `quasiindex` and `quasimap` commands, as [we found this to be more accurate](http

[2016-01-26 16:03] rob-p commented on #38
Hi @roryk,

  Salmon doesn't currently have the ability to output a pseudobam, but that is definitely possible (and not too difficult).  We have a related feature planned; perhaps you could tell me if it suits your use case.  However, first, I should mention that if you'd simply like a pseudobam for *all* the mapping locations of the reads, you can use [RapMap](https://github.com/COMBINE-lab/RapMa

[2016-01-26 16:04] vals commented on #38
Is removing the read name a new thing in Kallisto? I counted UMI's with Kallisto pseudobams a while ago. Here's one in that pseudobam:

    SRR1545849.1:CELL_A12:UMI_CTGGCA	0	ERCC-00002	1	255	8S33M	*	0	0	GGGAATTCTCCAGATTACTTCCATTTCCGCCCAAGCTGCTC	ggcccccbccccbbcbcccccbbcdd]__a_ccc_^bb`b_	NH:i:1

Regarding what you want to do, you should look at RapMap: https://github.com/COMBINE-lab/RapMap

It's th

[2016-01-26 17:18] roryk commented on #38
Hi Valentine,

You're totally right about kallisto, I was looking at the wrong FASTQ file when comparing the names. Thanks for the RapMap tip and pointing to your repo, maybe we can roll that into bcbio-nextgen.

Rob, it sounds like what you are suggesting would be great. Having an actual alignment would be so useful.

[2016-01-29 13:41] tharvesh opened #39 "Building index failed [std::bad_alloc]"
Hi,

I have been trying to build an index for transcripts, it is composed of GENCODE and several unannotated transcripts from different sources(~95k, non-overlapping). Used following command

   salmon index -t cgm_annotation.fa -i cgm_index --type quasi

Version Info: This is the most recent version of Salmon.
[2016-01-29 13:44:08.001] [jointLog] [info] building index
RapMap Indexer

[Step 1 of 4

[2016-01-29 14:33] rob-p commented on #39
Hi @tharvesh — The error suggests that memory allocation failed when trying to build the suffix array.  I'm guessing from what I can tell from the log (e.g. the fact that the 64-bit index is being invoked, suggesting the input contains > 2^31 nucleotides), that you actually tried to build an index on the GENCODE **genome** plus a set of extra transcripts.  Salmon (unlike Cufflinks, but like RSEM,

[2016-01-29 15:01] tharvesh commented on #39
Hi @rob-p ,

I got your point. I can understand the issue now.

I was trying a different approach.
It's not a complete genome, instead using co-ordinates from .gtf file of GENCODE and extras (gene model), I extracted sequences using an other tool to make transcripts.fa from genome.

Any suggestions?

[2016-01-29 15:01] #39 closed

[2016-01-29 15:11] rob-p commented on #39
Well,  one can certainly use a tool (like gffread or rsem-prepare-reference) to take a genome and a (possibly custom/augmented) GTF to extract a set of target transcripts.  Above, it looks like you were only processing between 90 and 100k transcripts.  Given the overall size of the overall reference — ~2.4 billion nucleotides — my guess would be that some of these transcripts may be exceedingly lo

[2016-01-29 15:21] tharvesh commented on #39
Thank you for your helpful suggestion.

I have to check for transcripts that are very large and what so awkward about that.

If it is fine I would go with fmd indexing.

[2016-02-08 13:00] kieranrcampbell opened #41 "Throw error if reads are less than k-mer size"
If the read length in the FASTQ input files to Salmon are less than the k-mer size used when building the index then no error is produced but a mapping rate of 0% is reported. It would be useful for Salmon to throw an error telling the user that the mapping will surely fail for this reason (as opposed to others such as wrong reference transcriptome or wrong library type), and suggest rebuilding th

[2016-02-08 14:24] rob-p commented on #41
Hi @kieranrcampbell,

  Indeed, such reads will be un-mappable.  The only tricky question here is at which point we should (1) do nothing (2) issue a warning (3) issue an error.  Since the reads may not all be of the same size (perhaps the user has quality-trimmed the reads first and not opted to discard the short ones), it's possible we may see some reads too short to consider, but others would n

[2016-02-08 14:31] mdshw5 commented on #41
Since you'll issue a warning at the end of the run, maybe a rate makes more sense. Something like >10% or input reads were smaller than the kmer size.

[2016-02-08 14:33] kieranrcampbell commented on #41
My preference would be to throw a warning if any reads are shorter than the
kmer length and throw an error if all are. So if any reads are less then
k-mer length report "Warning: x% of reads were found to be less than k used
to build index. Consider rebuilding index with smaller k. Minimum read size
found was [min read size]" and then halt execution if x% is 100%. Would
that sound reasonable?

Tha

[2016-02-08 15:02] rob-p commented on #41
Yup, this sounds like a reasonable way to handle the issue.  Of course, you wouldn't know that 100% of the fragments are too short until the run has completed, but c' est la vie.  I'll go with this strategy since I can't really think of anything more effective.

[2016-02-19 19:13] jeremywzh commented on #36
It will be good to have this feature to automatically infer the most likely library type by downsampling. Waiting for this feature to be implemented!!!

[2016-02-20 22:52] warrenmcg opened #42 "error Installing: CMake fail line 94; RapMap not found (with workaround)"
Hi,

First of all, thank you very much for this tool! I'm excited to try it after reading your bioRxiv paper and your blog post. Following your installation instructions, I got to the step where I run `CMake [flags] ..`, and it failed with the following error:

[code]

I realized that I did not have curl installed (I use `wget` all of the time, on a Ubuntu 14.04.4 system), so the `fetchRapMap.sh`

[2016-02-20 23:00] mdshw5 commented on #42
CMake caches some information during the build in `CMakeCache.txt` (I think) so you probably have to delete that, or your build directory, and then start again.

[2016-02-20 23:37] warrenmcg commented on #42
I see! Thanks for the tip!

At this point, I would say that there either needs to be a check that curl is installed before using it (for user-friendliness) or that this is a known issue with the workaround above (with the caveat that you delete the CMakeCache.txt file in the build directory after you run `fetchRapMap.sh` manually). I'm surprised curl is not included with the default developer tool

[2016-02-21 00:08] rob-p commented on #42
Hi @warrenmcg — Thanks for your interest in Salmon.  There are actually a number of improvements since the pre-print as well!  I'm very surprised as well that `curl` is not available by default on Ubuntu 14.04 (or some variants of the installation).  It's actually a very common tool.  One thing worth noting is that we also provide [pre-compiled binaries](https://github.com/COMBINE-lab/salmon/relea

[2016-02-21 01:09] mdshw5 commented on #42
+1 for curl not being installed on some Linux distros I've used in the past. It's always a shock, but usually there's wget to fall back on, so maybe that's an option for your script...

[2016-02-23 15:33] mdshw5 commented on #37
Sorry for the delay in responding to this, and thanks for your support on debugging potential issues. I ran RapMap (nice tool) successfully and then realized that I was just encountering the linux OOM killer... So I'm closing this issue as there really was no issue. Thanks again.

[2016-02-23 15:33] #37 closed

[2016-02-23 15:35] rob-p commented on #37
No problem! We're actually working now on an optional use of a perfect hash in the quasi-index.  It increases index construction times, but provides the same speed of lookup as the current hash.  Also, it reduces the memory usage by a factor of ~2.  We just have to figure out how to implement this cleanly in the code base.

[2016-02-23 15:52] mdshw5 commented on #37
BIGGG +1 for this
cc @jmerkin

[2016-02-24 14:48] mdshw5 commented on #37
If you need testers for this I'm glad to help.

[2016-02-24 15:05] rob-p commented on #37
It's currently being developed here — https://github.com/COMBINE-lab/RapMap/tree/quasi-mph.  Once we're convinced RapMap still behaves correctly when using the perfect hash index, then I have some (not too much) work to do to propagate the necessary changes to Sailfish & Salmon.  The option is currently functional.  If you grab this branch and build a quasi index using the `-p` option, it will use

[2016-03-03 10:37] ysagon opened #43 "error building"
I'm trying to build version 0.6 and I get the following error:

[code]

I'm using
gcc 4.8.2
boost 1.5.7
icc 15.0.0 20140723

[2016-03-06 19:32] rob-p commented on #43
Hi @ysagon — can you extrapolate a bit on how you're using gcc in combination with icc?  I don't know that there is a stable cross-compiler ABI that would let one mix and match libraries compiled with icc and gcc into the same target executable.

[2016-03-07 23:59] sjackman commented on #19
`cmake` fails when extracting external dependencies for me. See #10. I'd also like to be able to use the installed versions of libraries.

[2016-03-08 00:03] sjackman commented on #10
I'm still experiencing this `cmake` error:
[code]
Here's a gist of the logs:
https://gist.github.com/sjackman/2bbfcf212c555fb20505#file-02-make-L397-L404

[2016-03-08 02:20] rob-p commented on #19
Hi guys,

  Which existing dependencies would you like to be able to use?  There are some of these libraries that cannot be replaced by already installed variants.  Specifically,

  *  BWA --- since the version that is pulled in and used actually requires we expose certain functionality for our lightweight alignment procedure (though this dependency may go away all together if we deprecate lightwe

[2016-03-08 02:21] rob-p commented on #14
This is done.

[2016-03-08 02:21] #14 closed

[2016-03-08 06:21] sjackman commented on #10
Where does `extract-libdivsufsort.cmake` live? I don't find it in the `salmon` repository. Is it generated automatically by `cmake`? The following patch/hack works around the `cmake -E tar xfz` bug for me. It seems to only affect extracting the `libdivsufsort.zip`, perhaps because it's a `zip`. If that is the case, and there's a `.tar.gz` distribution of `libdivsufsort`, then there may be a simple

[2016-03-08 13:27] rob-p commented on #10
`extract-libdivsufsort.cmake` is auto-generated during configuration.  However, the zip itself is grabbed as part of RapMap.  I can take a look at what would be required to make it a tarball there (or, conversely, if there is a way to force CMake to use `unzip` rather than `cmake -E tar xfz`.

[2016-03-08 17:11] sjackman opened #45 "Salmon depends on Staden depends on xz for lzma.h"
https://travis-ci.org/Homebrew/homebrew-science/jobs/114404533#L1110-L1115

[code]

[2016-03-08 17:26] sjackman commented on #10
Here's the official tarball release of `libdivsufsort`: https://github.com/y-256/libdivsufsort/archive/2.0.1.tar.gz

[2016-03-08 18:13] sjackman opened #46 "undefined reference to boost::program_options::validate"
Here's a gist of the logs:
https://gist.github.com/sjackman/8b0c2be77efeb9507ca3#file-02-make-L4938

[2016-03-08 18:14] sjackman commented on #46
To reproduce this error:
[code]

[2016-03-08 19:05] rob-p commented on #46
This looks (maybe) like an incompatibility between libc++ and libstdc++.

[2016-03-08 19:10] rob-p commented on #45
Indeed — do you know if there's a fork of lzma on GitHub that I can pull from (if there's not a version locally installed on the target)?

[2016-03-08 19:13] rob-p commented on #46
Also, this appears to be:

1. A very old version of Salmon (0.4.2)
2. Using GCC 5.0, to which I have not yet moved (and which isn't installed on any machines where I have access).  Is it easy to check if this pops up with 4.8.x or 4.9.x as well?

[2016-03-08 19:18] rob-p commented on #10
I prefer to have it bundled *within* RapMap (but am willing to hear argument against this).  Specifically, this allows that I have control over the availability (i.e. if the official repo disappears, RapMap will continue to build).  Of course, the bundled zip was from a slightly updated version of the official `libdivsufsort` that incorporates a fix into the `CMakeLists.txt` file where the origina

[2016-03-08 19:47] sjackman commented on #10
It's still only a hypothesis that moving to a tarball would fix my issue. I noticed that once I hacked around this one error by using `unzip` instead, it seems to be working. Still, I think using a `tarball` rather than `zip` file is good style anyway.

[2016-03-08 19:48] sjackman commented on #46
Right. Sorry. I've just updated Homebrew-science to Salmon 0.6.0. https://github.com/Homebrew/homebrew-science/pull/3407

[2016-03-08 19:53] sjackman commented on #45
I'd rather not bundle the dependency. Troubleshooting bundled dependencies is crazy making. The `cmake` script could check that the dependency is satisfied and report an error message if it's not. Or I suppose install the dependency if it's not satisfied. Perhaps that's what you were thinking.
In any case, here's the web site: http://tukaani.org/xz/
and git repository: http://git.tukaani.org/
Here

[2016-03-08 19:55] rob-p commented on #45
Exactly, I meant that if the dep is not already satisfied, I'll pull the source and compile and install it locally (not that I would bundle the dependency with salmon).

[2016-03-08 20:01] sjackman commented on #45
Sure, works for me. Is it possible to add an argument that indicates that the dependencies (like `xz`) should be provided by the host, and any missing dependencies are an error?

[2016-03-08 20:44] sjackman commented on #45
Salmon also depends on `libz` when compiling `bwa`.
https://gist.github.com/anonymous/a50569adddca1b8605f7#file-02-make-L118-L120
[code]

[2016-03-08 20:47] sjackman commented on #45
It's ignoring the environment variable `$CPPFLAGS` which has the search path for `zlib.h`.
[code]

[2016-03-08 20:50] rob-p commented on #45
I'll have to check if the ignoring of the `CPPFLAGS` is a problem with bwa's build system, or if I'm simply neglecting to pass the environment along properly.

[2016-03-08 20:53] sjackman commented on #45
It's a problem with BWA's Makefile. https://github.com/lh3/bwa/blob/master/Makefile#L25

[2016-03-08 20:56] sjackman commented on #46
Yeah! Salmon compiled! Using Ubuntu Trusty with GCC 4.8.4 and Salmon 0.6.0.

No luck with GCC 5.3. My guess as to this issue (undefined reference) is that it's possibly mixing boost headers from one installation of boost that it found in /usr and boost libraries from another installation installed by Linuxbrew.

[2016-03-08 20:59] sjackman commented on #46
No, I take that back. Boost isn't installed in `/usr/` of this system. There's only one boost install.
Perhaps it's mixing compilers GCC 4.8.4 for some modules and 5.3 for others.

[2016-03-09 14:47] s6juncheng opened #47 "bootstrap results"
Hi,

I used the flag --numBootstraps 100, but I don't get bootstrap results in my output folder. There is a aux/bootstrap folder with two gz files, but they do not look like to be the results.

My command:
{
    "salmon_version": "0.6.0",
    "index": "index_salmon_quasi",
    "libType": "ISF",
    "mates1": "R1.fastq",
    "mates2": "R2.fastq",
    "output": "K562",
    "numBootstraps": "100",

[2016-03-09 14:50] rob-p commented on #47
Hi @s6juncheng,

  What do you mean "they do not look at the results"?  Because bootstrap values can be large, they are stored in a compressed binary format.  Can you tell me what files are in your aux/bootstrap folder?  If you are interested in observing the bootstrap values manually, I can help you with a script that converts them to a text format.

--Rob

[2016-03-09 15:10] s6juncheng commented on #47
Hi @rob-p ,
sorry for the typo. Because the file bootstraps.gz is binary, and I saw from http://robpatro.com/blog/?p=291 that, there should be a text file named quant_bootstraps.sf.

Yes, if you have a script for conversion, I would like to have.

I used Kalisto on my data before, but because kalisto do not support strand specific data, I switched to salmon. Does strand specific information helps

[2016-03-09 15:14] rob-p commented on #47
Hi @s6juncheng,

  Ahh --- yes, we've since updated the data format so that output sizes stay small even when the number of bootstraps grows large.  Thanks for pointing out the inconsistency with respect to the blog; I'll update that.  I'll put together a script to convert the bootstrap values to a text format so that you can view them.

Regarding strand specific information: Yes, if you have cons

[2016-03-09 16:31] rob-p commented on #41
This has been implemented in commit 590b880.  Currently, these stats are reported at the end of mapping, but before the offline EM algorithm runs.

[2016-03-09 19:05] sjackman commented on #10
The cmake `archive_write_finish_entry(): Can't restore time` issue affects both `.zip` files and `.tar.gz` files.

[2016-03-09 19:48] sjackman commented on #10
I've found a workaround that works for me! `cmake -E` fails wth Linux 2.6.18 (CentOS 5.11) but succeeds with Linux 2.6.32 (CentOS 6.6). So I'm building Salmon on a newer box, then I can run it on our ancient cluster. Closing.

[2016-03-09 19:48] #10 closed

[2016-03-09 19:49] rob-p commented on #47
Hi @s6juncheng,

  I've written [this script](https://github.com/COMBINE-lab/salmon/blob/master/scripts/ConvertBootstrapsToTSV.py) which will convert the binary bootstrap samples into a text format.  The text format is as follows:

  * The first line is a tab-separated list of transcript names.
  * Each subsequent line is a tab-separated bootstrap sample.
      * The number of entries in each of t

[2016-03-09 20:19] #41 closed

[2016-03-09 20:20] rob-p commented on #47
I've also updated the blog post to refer to the new format.  I'm going to close this issue for now, but please feel free to comment on it or re-open if you run into any more trouble.

[2016-03-09 20:20] #47 closed

[2016-03-11 12:20] mr-c commented on #19
It would be good to get your modifications accepted into BWA & Jellyfish

Re: `libgff` I did indeed package it as a separate library for Debian: https://packages.debian.org/source/sid/libgff

staden-io ships `io_lib-config` which reports on how to compile against the library

[code]

[2016-03-11 16:17] rob-p commented on #19
Oh wow; I had no idea about libgff :).

Regarding Jellyfish, there's not a source "change" required upstream, rather the fact that I seem to require the `config.h` file that is not installed during the "normal" Jellyfish install process.  I don't know if you have any idea how one might get around that.

Regarding staden, thanks for brining this to my attention.  It will probably take a bit for me

[2016-03-11 16:56] mr-c commented on #19
I don't think `config.h` is needed when compiling against prebuilt `libjellyfish*.so`; when building salmon for Debian I explicitly patched out the include and everything built just fine.

http://anonscm.debian.org/cgit/debian-med/salmon.git/plain/debian/patches/jellyfish-update

[2016-03-11 16:58] rob-p commented on #19
Very interesting!  It used to be necessary, but perhaps Giullaume fixed this upstream at some point and I just wasn't aware.  I'll see if I can merge those changes into Salmon.

[2016-03-11 17:01] sjackman commented on #19
As a user, I prefer autotools to cmake. cmake breaks way more often in my hands/experience than autotools. As a developer, I've only used autotools, so my previous opinion is probably biased.

[2016-03-11 17:03] mr-c commented on #19
staden-io does include an autotools macro :-)

[2016-03-11 17:08] rob-p commented on #19
I used autotools back in 2008 or so (when I was still working in computer graphics).  I found it to be horribly archaic (not that CMake is a bastion of clarity).  Also, as opaque as CMake sometimes is, I at least found it easier to discover how to force it to do what I wanted than with autotools.  That being said, I feel like it is one of these situations where, if you are a wizard with the tool,

[2016-03-11 17:16] sjackman commented on #19
The languages of both autotools and CMake are pretty terrible. I actually like the Make language; I think it gets a bad wrap.

Other than `config.h` was there any other files of Jellyfish that were missing from the install that you needed?

[2016-03-11 17:29] rob-p commented on #19
No, I believe that config.h was it.  Otherwise, I just use the already installed headers and the pre-compiled library `libjellyfish-2.0`.

[2016-03-11 23:39] sjackman commented on #19
I'll chec that Homebrew installs the Jellyfish config.h file.

[2016-03-12 02:43] rob-p commented on #19
I actually think that (as @mr-c points out), the `config.h` file isn't necessary with newer versions of Jellyfish.  I'm removing the dependency upstream.

[2016-03-12 02:45] rob-p commented on #19
Of course, I'm also bumping the version requirement so that we require a Jellyfish version that fixes the "empty read" bug (https://github.com/gmarcais/Jellyfish/issues/55).

[2016-03-12 17:45] sjackman commented on #19
Ah, great.

[2016-03-15 14:27] warrenmcg opened #48 "boost math error during EM iteration: Evaluation of function at pole -nan"
Hi Rob,

I've been running another group's samples (single-end, second-strand protocol), and I have a script that iterates through each sample and runs salmon. I'm running the latest version (0.6.0) with the following arguments: salmon quant -i salmon_index --libType SF -r <(gzip -c -d $IN_FILE) -o $OUTPUT --numBootstraps 100 --useVBOpt --useFSPD --geneMap $GENES --biasCorrect -p 59

During the EM

[2016-03-15 14:37] rob-p commented on #48
Hi @warrenmcg,

  Thanks for this bug report.  This error is caused by the `--useVBOpt` argument.  The telltale sign that this is the cause is that the exception contains the text `Exception : [Error in function boost::math::digamma<long double>(long double): Evaluation of function at pole -nan]
salmon quant was invoked improperly.`  The digamma function is used only in the `useVBOpt` codepath.

[2016-03-15 14:41] warrenmcg commented on #48
Well, I'm glad it was easy to troubleshoot. I'm crunched for a deadline, so I won't be able to devote much time to helping putting together a toy dataset for you; in a few weeks, I'll see what I can do. Thank you very much for your help!

[2016-03-15 14:43] rob-p commented on #48
No problem.  I'll post back here if I find anything related to this issue in the meantime.  Otherwise, you should be just fine running without `--useVBOpt` (which is actually what I suspect most people do, since the "standard" EM is the default anyway).

[2016-03-17 11:52] vd4mmind opened #49 "Salmon indexing on UCSC genome.fa files fail for mm9"
I am intending to run salmon on a set of RNA-Seq data lying in our lab for a long time. They are for mm9 and since there are >50 samples I was intending to run it using Salmon `version : 0.6.0`. I have used earlier versions of salmon on hg19 data from both UCSC, NCBI (spiked-in and non-spiked in data) without alignment mode and have run them successfully. Recently we were able to download the late

[2016-03-17 12:46] mdshw5 commented on #49
It appears that you're trying to index the entire mm9 genome using salmon. Both salmon and rapmap are designed to work with a smaller sequence space such as what you would find in a transcriptome. Your log file shows that salmon processes 615,000,000 bases from the genome and then aborts. Depending on how many transcripts are in your feature file, and human transcriptome [might be 5-10X smaller](h

[2016-03-17 13:12] rob-p commented on #49
Hi @vd4mmind,

  Indeed, @mdshw5 is spot on.  The issue you're seeing is a result of the hash table doubling failing to allocate sufficient memory when attempting to build a hash table for all 31-mers in the mouse genome.  In addition to the memory requirements of building a quasi-index on the genome (which we're actually working to mitigate b/c we think it could be useful in another context), thi

[2016-03-17 13:28] vd4mmind commented on #49
Ah yes this is actually true, I realised it now. Infact I always ran salmon on the transcripts file for human rather than genome. Yes the mm9 does not have transcripts fasta file in our lab, so I will create one and then run indexes on it. Yes it is my bad. Thanks for the suggestions. I will do the needful and run the index once it is done I will report it here. If its not a problem till that time

[2016-03-17 13:35] vd4mmind commented on #49
Ah yes. Thanks a lot for the suggestions. I reckon this was a mistake I did. I will try to build the transcripts.fa file for mm9 and yes I always made the hg19 runs or Grch38 on transcripts file and not on genome. For mm9 there was no transcripts file while we always made tophat run earlier on whole genome providing the appropriate gtf file to make the alignments only on transcripts. I am keeping

[2016-03-17 13:47] warrenmcg opened #50 "NaNs generated for up to 60% of transcripts with --useFSPD and --biasCorrect turned on"
After generating issue #48, I took the recommendation of switching to the standard EM algorithm, but I'm having further problems. However, I don't think the problem was with the Variational EM algorithm, but an issue with how the dataset is behaving.

This is with the same dataset as before (single end, rRNA-depleted, second-strand protocol, extreme depth of 170M+ reads). I have the options --useF

[2016-03-17 14:03] rob-p commented on #50
Hi Warren,

  I apologize for the short response --- I'm on my way to a meeting.  I'm assuming that what was happening before was simply that the problem was diagnosed during VBEM as soon as it pops up, whereas, the NaNs are allowed to propagate during the standard EM.  If I had to guess (and this is just a guess), I would blame edge effects in the FSPD for the appearance of `NaN`s (not sure why t

[2016-03-17 14:14] warrenmcg commented on #50
No problem. I'll see what I can do, but I am leaving out of town this weekend for a wedding, so I may not be able to get it to you until next week. Alternatively, I could PM you the details of the dataset I'm working with (it's from GEO, but I don't feel comfortable broadcasting it to the world).

[2016-03-17 14:20] vd4mmind commented on #49
I have a question , if you guys would like to answer. Where can I get the transcripts.gtf file for mm9. Is there any link from where I can download or do I have to create on my own. I am a bit confused and different forums are adding up to my confusion if you would like to suggest.

[2016-03-17 17:02] vd4mmind commented on #49
Done the required work. Sorry for bothering everyone. Downloaded the refGene.gtf file from UCSC for mm9 having transcript information and then used `gffread` to build the transcript.fa for the mm9. Finally ran salmon indexes and to my surprise it finished in matter of few minutes < 3'. Thanks for all the suggestions. This is something which I always like getting to learn something new every day. C

[2016-03-17 17:02] #49 closed

[2016-03-17 17:16] rob-p commented on #50
Feel free to PM me.  If it's a publicly available dataset (and standard transcript set), then I can also try and reproduce the issue from there.

[2016-03-25 05:20] jorvis opened #51 "Build failure (libtbb)"
My first attempt at building salmon failed during what appears to be the tbblib build step.  I'm going to continue by building tbb on my own and starting over, but wanted to post notes here.  Steps:

[code]

[build.failure.txt](https://github.com/COMBINE-lab/salmon/files/189095/build.failure.txt)

[2016-03-25 06:08] jorvis commented on #51
Building my own TBB hasn't helped.  I installed it and set its path on the command line using -DTBB_INSTALL_DIR=/usr/local/packages/intel-tbb.4.4.3.181 and still CMAKE returns this in its output:

[code]

I've tried numerous subdirectories as well but can't seem to find what it's looking for to determine the TPP directory.  Setting TBB_INSTALL_DIR also changed nothing.

Currently stuck on my salmo

[2016-03-25 08:07] mr-c commented on #29
@rob-p I've had good experiences with https://github.com/seqan/seqan and I like their team

[2016-03-25 12:06] rob-p commented on #51
Hrmm the first error looks like some missing symbols; strange, since it seems to be looking in the right place.  Can you tell me what system / compiler etc. are being used?

[2016-03-25 13:45] jorvis commented on #51
This is RHEL5, and I'm using gcc-5.3.0

[2016-03-25 14:13] rob-p commented on #50
Hi @warrenmcg,

  I just wanted to let you know that I'm investigating this now.  It looks like this may be fixed on the latest commits to the master branch, which should become an official release soon.

[2016-03-25 14:17] rob-p commented on #51
Hi @jorvis,

  @sjackman ran into a [similar (but different) issue](https://github.com/COMBINE-lab/salmon/issues/46#issuecomment-193963209), and the root cause seems to be GCC5.3.  My best guess is that there is some symbol munging that is incompatible between things compiled with GCC 4.x and GCC 5.x.  The newest version of GCC seems to break quite a bit of software.  I haven't installed it and tr

[2016-03-25 15:23] jorvis commented on #51
I just tried with gcc 4.9.0 and errored out at the the same point (attached).  I'll try using the pre-compiled ones.

[compile.error.txt](https://github.com/COMBINE-lab/salmon/files/189653/compile.error.txt)

[2016-03-25 15:24] rob-p commented on #51
Thanks for testing that out.  In this case, I'll try an dig more deeply into why you're having issues compiling from source.  In the mean time, I hope the pre-compiled binary will work for you.

[2016-03-26 17:15] warrenmcg commented on #50
Hey @rob-p,

Thanks for your efforts in handling these issues! I'll try the analysis again with the updated commits, and I'll let you know if I have further issues.

[2016-03-27 14:31] rob-p commented on #50
Great; one thing I did notice is that the mapping rates for this data seemed surprisingly low.  I don't think that's related to the `NaN`s you were seeing, but it did catch my attention, since we don't normally see mapping rates like that.  Is there a hypothesis why this may be the case (e.g. it's not just Salmon's quasi-mapping, the mapping rate remains the same (or even becomes lower) when I use

[2016-03-27 19:26] warrenmcg commented on #50
I do have an explanation. The data was generated using an rRNA-depletion protocol. From what I've seen elsewhere, it turns out that the mapping rate is expected to be 30-40% because many of the reads are intronic, or otherwise map outside the known transcriptome, since you have all non-rRNA (PolyA+ and PolyA-).

Hope that helps! Happy Easter!

[2016-03-28 13:52] rob-p commented on #50
Ahh  — that makes sense, and makes me feel **much** better about the mapping rates I was seeing.  Happy belated Easter!

[2016-03-28 14:44] schelhorn opened #52 "Gene fusions"
Wicked fast indeed! Are there any plans to extend salmon to also detect gene fusion events? There isn't a fast and accurate way to do that yet, only approaches requiring full alignments. Most often a base-perfect breakpoint isn't required, an estimate within a hash length is fine. We are a heavy user of bcbio and are also running the full STAR alignment just for gene fusions, which really sucks. A

[2016-03-28 20:03] njbernstein opened #53 "Salmon indexing on UCSC intron.fa files fail for hg19"
Hi all,

So I'm having a similar problem to whats found in issue https://github.com/COMBINE-lab/salmon/issues/49.  I'm want to see how much intron RNA is quantified in my experiment, but it seems like the number of "transcripts" (i.e. introns) from the fasta is too many. Any ideas as to how to approach this?

Best

[code]
[code]

head of fasta file:
[code]

I know it might not be doable in this ma

[2016-03-28 21:44] rob-p commented on #53
The problem you're encountering here seems to be a result of a memory allocation error.  Basically, building the index requires considerably more memory than actually storing it (and using it for quantification).  One option would be to try and build the index with smaller k-mers, which should require less memory.  It looks like you successfully indexed 3.8 / 4.1 billion nucleotides, so you're rea

[2016-03-28 21:48] rob-p commented on #52
Hi @schelhorn,

  Yes; we are *actively* looking at fusion prediction based on quasi-mapping.  The initial results are promising, but we're still working on improving and refining the method.  I'll be sure to let you know when we have something that is ready to test :).

Best,
Rob

[2016-03-29 05:00] schelhorn commented on #52
Excellent. May I point out that tools such as Oncofuse have a particular, additional value since they provide functional annotation of fusion events identified by other tools? Also, this may prove helpful wrt validation data: https://github.com/chapmanb/bcbio-nextgen/issues/210

[2016-03-29 15:12] rob-p commented on #52
Awesome; thanks for the pointers!  We'll definitely take a look at these.

[2016-03-29 15:14] njbernstein commented on #53
Great! Thanks for the help and timely response. I'll try that later today.

[2016-03-29 15:17] rob-p commented on #53
No problem :).  If you have trouble building the newer versions from source or if this doesn't resolve the issue for you for some reason (it should!), I have a large memory machine where I'd be happy to build the index for you as a temporary solution.

[2016-03-29 16:02] njbernstein commented on #53
Great! Thanks!

[2016-03-29 17:37] njbernstein commented on #53
Hi Rob,

I don't have git (don't have root access on the red hat server im on). I downloaded the salmon-master.zip, and then tried running the following:

[code]

I'm trying now with -k 27 with the original build I had. Keep you updated.

Best

[2016-03-30 20:31] jorvis commented on #51
I was able to successfully get an index built using precompiled binaries.  Not sure if you want to keep this open, but I'll be happy to help out running commands however you need.

[2016-03-30 20:39] jorvis opened #54 "Segfault"
I've switched to using precompiled binaries, version 0.6.0.  Now working on a new server running CentOS Linux release 7.1.1503.  I was able to successfully generate my index, then started running the quantification step.  Here is my command:

`$ /home/jorvis/salmon/bin/salmon quant -p 24 -i transcripts_index -l IU -1 R1.trimmed.PE.fastq -2 R2.trimmed.PE.fastq -o transcripts_quan`

This host has 48

[2016-03-30 20:42] rob-p commented on #54
Hi Josh,

  My best guess is that something is awry with the 64-bit index.  That code-path is less well-tested (since I don't really have any transcriptomes in my collection that exceed the size of a 32-bit signed int).  If you're able to share the txome and / or the index itself, I'd be happy to try and reproduce and fix this.  Actually, I'd be really happy to squash any bugs in the 64-bit code p

[2016-03-30 20:55] jorvis commented on #54
OK, could you send me a private e-mail address so I don't post links for
the data publicly?

On Wed, Mar 30, 2016 at 3:42 PM, Rob Patro <notifications@github.com> wrote:

[2016-03-30 21:59] rob-p commented on #54
Sure; its rob.[lastname]@cs.stonybrook.edu.  Sorry for the trouble you're encountering with the 64-bit index, but thanks for helping me track it down to fix!

[2016-03-31 00:57] rob-p commented on #54
Ok, I think I tracked it down!  I'd forgot to replace `int` with the generic `OffsetT` in one function.  This led to the `int64_t` being interpreted as an `int32_t` and hence ... overflow.  I'll fix this upstream and push a new salmon binary (by the end of the week).  Luckily, this only affects mapping and not index building, so you can use the index you already have.

[2016-03-31 15:38] rob-p commented on #54
Rather than hang you up in any way waiting on a release that adds ancillary improvements, I'm just putting an updated binary right here that addresses this issue.  Please let me know if this allows you to run your dataset on the large index successfully.
[SalmonBeta-0.6.5-pre_CentOS5.tar.gz](https://github.com/COMBINE-lab/salmon/files/197982/SalmonBeta-0.6.5-pre_CentOS5.tar.gz)

[2016-03-31 15:49] rob-p commented on #53
Hi Nick,

  If that doesn't work, you can use [this](https://github.com/COMBINE-lab/salmon/files/197982/SalmonBeta-0.6.5-pre_CentOS5.tar.gz) salmon executable to try the perfect hash indexing.  If you pass the `--perfectHash` flag when indexing, it will use the minimum perfect hash rather than Google's dense hash.

[2016-03-31 16:32] jorvis commented on #54
Hmm, something's up.  I just deleted my previous transcripts_quan directory, replaced salmon with this newer version, and ran the same command.  It finishes almost immediately with a return value of 1.

[code]

[2016-03-31 18:13] njbernstein commented on #53
Should I use `--perfectHash` for all subsequent indexing, or only when it blows up my memory? Probably more nuanced than that, but if an explanation wouldn't be too much to ask that'd be great as to the benefits and disadvantages of the `perfectHash` vc `Google's dense hase`

[2016-03-31 18:26] rob-p commented on #54
That's very strange in that it doesn't even seem to be trying to load the index!  I obviously don't have the same set of reads you do, but here is what I get when using this pre-compiled binary on the 64-bit index (this is a small read set from single-cell data, which is why the total # of reads is so small).

[code]

of course, it takes a stupid amount of time to load the giant index the first ti

[2016-03-31 18:36] rob-p commented on #53
Hi Nick,

  No problem at all; sorry for not providing a better explanation (I'm planning on writing one up for when this feature is listed in the next official release).  In terms of strategy, my recommendation would be to use the default (the `dense hash`) unless indexing memory becomes a problem.  The main differences are the following:

  * The perfect hash uses an external memory algorithm to

[2016-03-31 18:58] njbernstein commented on #53
Great! Thanks for the info.

[2016-03-31 19:08] jorvis commented on #54
I actually just deleted the index and recreated it with the same command (but newer tool) then re-ran the quant step and it's running now.  It's searching just under 800GB of reads though, so I'm not sure how long it will take.  I'll let you know when it has completed.

[2016-03-31 19:10] rob-p commented on #54
Great.  I'm not sure why the old index was problematic, but I'm glad this one seems to load successfully etc.  Also, I'm glad the read set is rather large, because this is one of those cases where the index loading time might otherwise trump the time related to map the reads on a smaller dataset!  I have some work to do in speeding up the loading of large indices.

[2016-03-31 19:13] jorvis commented on #54
Interesting.  It got past the index loading step for me in under 10 seconds at least.  I could time it more properly if you like after this run has completed.

[2016-03-31 19:14] rob-p commented on #54
That is interesting!  It could just be that you have a much faster disk ;P.

[2016-03-31 19:41] jorvis commented on #54
Still going:

[code]

I asked our IT guy, and the hardware supporting that volume is a 1.3PB disk array on Oracle ZFS4-4, mounted using NFS v4.

[2016-03-31 19:44] rob-p commented on #54
Thanks for asking.  It could be that ZFS is substantially faster for this purpose than ext4 (which is what I'm using).  It's interesting that there is so much multi-mapping in this dataset (looks like Salmon's found over 1.7 billion alignments so far; almost 8 hits per read on average).  I guess this is *somewhat* less surprising given that the contigs were (presumably) assembled using these same

[2016-03-31 19:48] jorvis commented on #54
Yes, this is a set of transcripts assembled using a few different Trinity and Velvet/Oases protocols, merged together.  I'm testing reduction with different tools along with relative abundance estimation.

[2016-03-31 19:50] rob-p commented on #54
Ahh; cool!  That also explains the size ;).  If you're interested in evaluating & potentially merging assemblies, I can also point you at [transrate](https://github.com/Blahah/transrate), which you may find useful (cc @Blahah).

[2016-03-31 21:18] Blahah commented on #54
I'm going to be daydreaming about that 1.3PB disk array for a while.

[2016-03-31 21:25] jorvis commented on #54
I'm definitely spoiled on space.  That is only our scratch volume.  The
longer-term project storage area is quite a bit larger.  It seems like no
matter what you have though, it gets used.
On Mar 31, 2016 4:18 PM, "Richard Smith-Unna" <notifications@github.com>
wrote:

[2016-04-01 00:36] mdshw5 commented on #54
<img width="32" alt="screen shot 2016-03-31 at 8 34 59 pm" src="https://cloud.githubusercontent.com/assets/819554/14194783/1bc2d8e4-f780-11e5-87ed-76a1ff423de9.png">
👋🎤(mic drop)

[2016-04-01 00:39] jorvis commented on #54
Ha!  Impressive either way, but I think I see some shared volumes there.  :+1:

[2016-04-01 00:45] rob-p commented on #54
Btw @mdshw5, you can try the --perfectHash option with the binary linked above if you want ;).

[2016-04-01 01:57] jorvis commented on #54
My run finished successfully a few hours ago, btw.  Thanks for all your help!  Giving transrate a look.

[2016-04-01 01:58] mdshw5 commented on #54
Yes, shared volumes :( - thanks @rob-p for the update - I'll give it a shot on our large index and hopefully feel the benefit!

[2016-04-01 02:06] rob-p commented on #54
@jorvis — ok; good. I'd be very worried if it was still going all this time later :)!

[2016-04-11 01:20] xflicsu commented on #32
Hello ROB,
I got TPM and NumReads values from Salmon. Now, I will identify differential expression of 6 time points samples. Can I use NumReads directly to edgeR/DEseq2?

[2016-04-11 02:54] rob-p commented on #32
Hi @xflicsu,

  Are you attempting to identify differential expression at the gene level, or at the transcript level?  If you want to use the NumReads values at the transcript level, you'll just need to round them to integers (as required by DEseq2 — I'm not sure if edgeR has this requirement or not).  If you want to do differential expression at the gene level, you'll need to aggregate the counts

[2016-04-11 08:22] xflicsu commented on #32
Thanks for your response! I focus on both transcript level and gene level.
I have another question: I got low mapping rate (less than 20%) of tot-RNA-seq and Nascent-seq. So,  is it mean that Salmon is not suitable for pre-mRNA detection? How can I promote the mapping rate?

[2016-04-11 12:52] vals commented on #32
@xflicsu Did you include "unspliced" transcript sequences in your reference? I could imagine your mapping rate goes down if you are not putting the intronic regions in the reference (so that intronic reads don't map)... You can get those unspliced transcript sequences e.g. from Ensembl BioMart.

[2016-04-14 13:04] rob-p opened #55 "Write non-error output to stdout"
As suggested by Nick Schurch, we should be writing non-error output (including simple logging and informative messages) to stdout rather than stderr.

[2016-04-14 15:04] mdshw5 commented on #55
I might add that the progress display is pretty, but having an option to exclude it from the stderr logging, or even have no status updates, would be helpful for log file analysis.

[2016-04-14 15:52] rob-p commented on #55
duly noted!

[2016-05-09 08:41] vals opened #56 "Full length cDNA distribution as a guide to abundances?"
A lot of the times when we are assessing our samples before we move on to fragmenting cDNA in to fragments, we look at the distribution of full length cDNA using a Bioanalyzer.

See for example panel **a** of [this figure](http://www.nature.com/nprot/journal/v9/n1/fig_tab/nprot.2014.006_F2.html)
![](http://www.nature.com/nprot/journal/v9/n1/images/nprot.2014.006-F2.jpg)

With the reference transcr

[2016-05-10 12:46] rob-p commented on #56
Hi Valentine,

  This is *very* interesting.  I think the answer to your question is "yes", but I'm not quite sure how one would use this information yet.  Ideally, the inferred NPM (nucleotides per million) distribution should match the electropherogram (perhaps minimizing some metric like KL-divergence or JS-divergence).  The challenge is that this is still rather coarse-grained information, in

[2016-05-11 10:21] pinin4fjords opened #57 "v.low strandness reported wrt genomic alignment w/ RSeQC"
Thanks for your work on Salmon- interesting tool!

So, I'm running Salmon, and comparing it with a more conventional genomic alignment with HISAT2. I have TruSeq stranded data, and if I run HISAT2 and check strandedness using RSeQC's 'infer_experiment.py' and an Ensembl GTF (this is rat data btw), I get >98% as I expect.

Here's an example libFormatCounts.txt from running Salmon 0.6 with the same

[2016-05-11 15:49] rob-p commented on #57
I'm closing this issue since it's addressed [here](https://groups.google.com/forum/#!topic/sailfish-users/JNO_Q5ULpe4).  However, the action item is to modify (or augment) the manner in which consistent and inconsistent mappings are reported.

[2016-05-11 15:49] #57 closed

[2016-05-11 20:52] vals opened #58 "Gibbs and Bootstrap issues"
Hi, I was trying to investigate a thing using the Gibbs samples (and bootstraps).

I vaguely recall seeing both issues I'm reporting here somewhere, but I can't find those by searching.

I used Salmon 0.6.0, first with this command

    salmon quant \
    -i /nfs/research2/teichmann/reference/danio-rerio/salmon/zv9_cdna_ercc_gfp_index \
    -l IU \
    -p 4 \
    -1 SRS515267_1.fastq \
    -2 SRS5

[2016-05-11 21:02] rob-p commented on #58
Hi Valentine,

  Thanks for reporting this!  Do you have any recollection of what option might be incompatible with Gibbs?  Specifically, it's interesting that it doesn't work with Gibbs (it looks like you're getting `std::numeric_limits<double>::min()` everywhere) but works with Bootstrapping.  I will certainly look into this and will document (and make an explicit warning) any known incompatibil

[2016-05-12 20:00] vals commented on #58
Hi Rob,

I've been trying various combinations of options to get the Gibbs sampling working, but it doesn't work for any of the combinations I tried. The normal quantification output is fine.

I also tried Sailfish, and with that the Gibbs sampling doesn't work either. (Same `4.243992e-314` style values).

Thanks for clarifying about the counts in the output. Generally I'm a bit confused about why

[2016-05-12 20:38] rob-p commented on #58
Hi Valentine,

  That's not good!  I suppose that testing the gibbs sampling should be added to our standard set of regression tests.  Can you provide me with a data set that reproduces this issue?  I'll track it down and figure out why Gibbs is behaving badly.

--Rob

[2016-05-12 20:45] vals commented on #58
I've been using the SRA dataset `SRS515267` for this. To quickly try different combinations of parameters I just looked at the first 1 million reads of that (pretty deep) data.

Until I do some cleaning in my directories a few months from now, you can find fastq files and the transcriptome I use here: http://www.ebi.ac.uk/~vale/failing-gibbs/

[2016-05-14 01:00] rob-p commented on #58
Hi Valentine,

  I'm unable to reproduce this issue, and I wonder if the problem is in the parsing of the Gibbs samples.  Granted, the existing format is horribly documented, so I'm working on fixing this now.  However, one important difference is that while both the bootstrap samples and Gibbs samples are stored in a binary, gzipped file, the bootstrap samples are double-precision floating point

[2016-05-14 19:44] rob-p commented on #58
This is fixed (@vals, can you confirm?) by Valentine's pull request, so I'm closing this issue.

[2016-05-14 19:44] #58 closed

[2016-05-15 00:11] vals commented on #58
Yep problem was due to parsing!

[2016-05-19 20:58] kbchoi-jax commented on #54
@rob-p I tried SalmonBeta-0.6.5-pre_CentOS5.tar.gz but for some reason, it still make 32-bit index on my x86_64 machine. What do you think I am doing wrong?

[code]

[2016-05-19 21:03] rob-p commented on #54
Hi @kbchoi-jax — the index size (i.e. 32 or 64-bit) is dependent only on how long the reference is, not the width of the machine on which you're running Salmon.  That is, if the reference is < 2.1G, then a 32-bit index will always be used (even on a 64-bit machine).  The purpose of the "64-bit" index is that it uses 64-bit indices when building the suffix array, so that it can distinguish position

[2016-05-20 13:26] CoderMatthias opened #60 "Gene counts missing transcripts"
Hi,

Fantastic program, so much quicker than our old workflow.  I ran into one issue when trying to get the gene counts in addition to the transcript counts (quant.genes.sf & quant.sf).  I know Ucp1 should be highly expressed, but didn't see it in quant.genes.sf.

I have Ucp1 in the gene to transcript list (the list I supplied using the -g option):
$ grep Ucp1 ucsc2gene.tsv
uc009mjx.2  Ucp1

I don

[2016-06-21 09:14] vals opened #64 "Segmentation fault on some data when using `--useFSPD`"
I've been running Salmon on some data from accession SRP034543. For some it works fine, but some there is segmentation fault when using the `--useFSPD`. For an example run where it fails, have a look at accession SRR2048254.

Here is the command I ran along with output

[code]

It runs fine when disabling `--useFSPD`

[2016-06-21 12:30] rob-p commented on #64
Hi Valentine,

  Thanks for all of the detailed info to reproduce this; I'll try and take a look at it soon.  Since there is *a lot* of work going on in the develop branch (and good stuff coming in v0.7.0), it actually looks like `--useFSPD` will be replaced with a `--posBias` flag that models both 5' and 3' position specific bias.  Of course, we're still working on / testing that feature.  In the

[2016-07-11 08:02] frymor opened #65 "mapping rate calculations warning"
Hi,

I am running salom 0.6.0 on a Ubuntu server. here is my command as well as the STDOUT output:
[code]

I am not exactly sure where the problem is. The output file is created, but all the transcripts are '0'

Any ideas, what was done wrong?

thanks

Assa

PS.
this is how I have indexed the data

`salmon index -t  Homo_sapiens.GRCh38.rel79.cdna.all.fa -i Homo_sapiens.GRCh38.rel79 --type quasi -k

[2016-07-11 13:11] rob-p commented on #65
Hi Assa,

  The problem is that you've not provided the input files via the appropriate `-1` and `-2` flags.  For your particular command, the command line should look like

[code]

Notice this looks almost the same as what you had before, except that the reads are prefixed by the relevant `-1` and `-2` flags, and come directly after the library type flags.  Please let me know if this fixes the is

[2016-07-11 13:23] frymor commented on #65
thanks. Now it seems to work. I close this issue.

[2016-07-11 13:23] #65 closed

[2016-07-19 08:07] mpi-pebert opened #66 "Segfault on SRA data"
Hi,
I am processing canine data (replicates SRR636842 and SRR636843) and Salmon segfaults with no (?) useful information in the log that would help me to identify the problem. Other data from the same study are processed fine (mouse, cow and pig; all 51nt reads).

[code]

All data are processed in the same pipeline, so I guess there is something particular about this dataset - but given this infor

[2016-07-19 11:37] rob-p commented on #66
Hi Peter,

  Thank you very much for reporting this, and for providing details of the data so that I can try to reproduce it.  One more piece of information I'll need to try and reproduce this is the reference transcriptome to which you're mapping (a link to the fasta file should be fine).  I have a rather large deadline tomorrow, but I should be able to work on this and get you an answer / fix la

[2016-08-02 19:13] rob-p commented on #55
One issue with this (realizing this now that I've mostly made this change) is that it may conflict with writing pseudobam output, which, presumably we'd want to go to stdout by default so that it could be streamed into a bam compressor etc.  Is there an easier way to handle this?

[2016-08-02 20:55] mdshw5 commented on #55
I think logging non-error output to stderr is OK.

[2016-08-05 15:14] gresteban opened #67 "Library type"
Hi Rob,

I'm testing Salmon 0.6.0 in read-based mode and it seems awesome, fast and accurate. Moreover, it's very well documented, which I really appreciate.

My question is about the library type specification. In the libFormatCounts.txt file, library type as well as consistent and inconsistent mappings are correctly reported. However, transcript TPM and NumReads in quant.sf file are the same reg

[2016-08-05 16:12] mdshw5 commented on #8
Maybe I'm missing something, but it seems like the [current code](https://github.com/COMBINE-lab/salmon/blob/26058203351cfa2d8f146f033b23cbe0806b319b/src/GZipWriter.cpp#L244) for calculating TPM does incorporate the EffectiveLength measure. Does EffectiveLength not take into account the portion of the transcript that is mapped to?

[2016-08-05 16:19] rob-p commented on #8
I think that @sjackman is referring to something even more "subtle" than effective length.  The effective length accounts for the ability of all locations on a transcript to generate fragments (according to e.g. the fragment length distribution, and, when modeled, different biases).  However, I think what @sjackman is referring to is more akin to simultaneous abundance estimation and "transcript m

[2016-08-05 16:45] sjackman commented on #8
My particular use case was a gene that has two exons and one intron in reality, and the intron was 90% of the length of the gene, but the annotated transcript missed the annotation of the intron, so appeared 10x larger than it was in truth.

[2016-08-05 17:09] mdshw5 commented on #8
@rob-p Thanks for that clarification. I actually thought the EffectiveLength measure accounted for this. I guess the situation does become tricky, but maybe the position-specific start distribution data could be helpful in constructing a "baseline" profile of transcript coverage and then comparing each transcript's coverage vector against this would give you a scaling factor to incorporate in the

[2016-08-05 18:45] rob-p commented on #8
@mdshw5 — I certainly think that this information could be useful (and bias terms are taken into effect when computing the effective length, when bias modeling is enabled).  The problem is that the position-specific start distribution is learned globally (well, conditioned on a few different length classes), rather than being transcript specific.  So, it's not exactly clear how it would help too m

[2016-08-07 15:51] rob-p commented on #67
Hi @gresteban ,

  Thanks for the kind words.  I'm working on improving the documentation even more for v0.7.0, which should land soon.

  Regarding your question, what you're seeing is expected behavior.  That is, for the vast majority of transcripts, Salmon will simply do the "right thing" regardless of the library type.  This is because the library type is used as a "soft" rather than a "hard"

[2016-08-07 15:51] #67 closed

[2016-08-08 09:43] gresteban commented on #67
Sure! That totally answers my question (and more). It seems that Salmon does even better than I could guess.

Many thanks for your detailed explanations.

[2016-08-11 20:53] jorvis opened #69 "Allow for comma-separate list of files as input"
When we want to use Salmon to align the output from multiple sequencing libraries, we have to cat all the R1 files together first into one file, then all the R2 ones into another FASTQ file so we can pass these to the -1 and -2 arguments.  It would be great if these arguments supported comma-separated lists of files rather than just the raw file.  This would save both the time of merging the files

[2016-08-11 21:01] rob-p commented on #69
Hi Josh,

  Salmon already supports lists of files, though it uses space as a separator (there are various reasons a comma might be a better separator, and I'll definitely consider this in the future).  For example, it's currently possible to pass a list of files to `-1` and `-2` as a space separated list.  For example, consider `lib_1_1.fq`, `lib_1_2.fq`, `lib_2_1.fq` and `lib2_2.fq` as the first

[2016-08-12 04:42] jorvis commented on #69
Very good to know.  I didn't see anything about the space separation in the documentation, but perhaps I missed it.  This was great information, thank you.

[2016-08-12 04:42] #69 closed

[2016-08-12 13:35] rob-p commented on #69
I think you're right that a good description of this is missing from the docs; I'll add it.

Thanks!
Rob

[2016-08-15 14:21] tseemann opened #71 ""salmon" with no options has exit code 0"
I think `salmon` should return an non-zero exit code when invoked with no options?

[2016-08-15 14:23] rob-p commented on #71
You're fast!

[2016-08-15 14:24] tseemann opened #72 ""salmon --help" is confusing"
I think something like this (like samtools, kallisto etc

[code]

would be *much* clearer than the current help

[code]

[2016-08-15 14:26] tseemann opened #73 ""salmon" with no options should print help"
I think `salmon` invoked with no parameters should invoke the help.

It takes `salmon`, then `salmon --help` then `salmon index -h` before you can even begin to figure out how to run it.

[2016-08-15 14:28] rob-p commented on #73
Well, to be fair, you could [read the docs](http://salmon.readthedocs.io/en/develop/salmon.html) ;P.

[2016-08-15 14:28] tseemann opened #74 "Inconsistent return codes with command help"
* `salmon --help` returns 0
* `salmon index -h` returns 1
* `salmon quant -h` returns 0
* `salmon swim -h` returns 0

[2016-08-15 14:29] rob-p commented on #74
So, you propose return `1` for all of these?

[2016-08-15 14:29] tseemann commented on #73
You just cut your potential audience by 90% :)

[2016-08-15 14:36] tseemann opened #75 "Suggestion: consider splitting 'quant' into two separate commands"
I don't really have a feel for the RAW and BAM interfaces for Salmon `quant`, but given that they have different help screens and usage, maybe consider splitting them into separate commands?

This is just a minor suggestion, coming from a n00b user of Salmon.

[2016-08-15 14:49] tseemann opened #76 "Add a --citation option"
To rpint the current referenced / DOI for the tool.

[2016-08-15 14:56] rob-p commented on #74
Actually, I think the suggestion is that :

[code]

returns 1, and all other variants e.g.

[code]

return 0.

[2016-08-15 22:23] rob-p commented on #72
This is fixed in c5d4a23

[2016-08-15 22:23] #72 closed

[2016-08-15 22:23] rob-p commented on #73
This is fixed in c5d4a23

[2016-08-15 22:23] #73 closed

[2016-08-16 19:09] tseemann commented on #74
Yep that's correct - the command returns `0` when it did what was asked, and non-`0` otherwise.

Thank you :)

[2016-08-16 19:37] rob-p commented on #71
Also addressed in 6a5a76c

[2016-08-16 19:37] #71 closed

[2016-08-16 19:39] #74 closed

[2016-08-17 21:31] tseemann opened #77 "Add 'quantmerge' subcommand to combine runs"
It would be amazing to have a subtool in salmon to combine the multiple output files into a single TSV file to pass to R or Degust for example.

It should take as parameters N salmon output folders, and combine them into a N+1 column file where column 1 is the transcript ID and the other N are the XXXX column from each quant file.

[2016-08-17 21:33] roryk commented on #77
You might like to have a look at `tximport`, which does that for R at least: https://github.com/mikelove/tximport

[2016-08-17 21:35] vals commented on #77
And I made one in Python :) https://github.com/Teichlab/readquant , you can pip install it. It also reads QC metrics from the directories.

It's not updated for 0.7.0 yet though.

[2016-08-17 21:36] tseemann commented on #77
@roryk I don't think an R package is the right answer :)

My real motivation is to load into Degust: http://www.vicbioinformatics.com/degust/

 It can be done with simple Unix cut/paste or with a python script too. But I don't want to depend on R for the pipeline, or even littler.

@vals I'll take a look at your script, but still be better if part of Salmon.

[2016-08-18 01:23] mdshw5 commented on #77
@tseemann You know degust is based on R packages, right? 😉

[2016-08-18 14:56] tseemann commented on #77
@mdshw5 The backend is, but not the front-end.

Let me know if you are able to manage to get the backend built and running. It's currently written in Haskell :-)

[2016-08-19 20:56] zhangchipku opened #78 "salmon 0.7.0 crashes in alignment mode"
Hi!
Thank you for making salmon. Great work!

my command line is
salmon quant -t /hpc/grid/shared/ngsdb/fasta/gencode.v24.transcripts.no_annotation.fa -l ISR -a RC-140808-00004.tx.bam -p 8 -o salmon_aln --useVBOpt  --incompatPrior 0

The end of log file looks like:

1008 Completed first pass through the alignment file.
1009 Total # of mapped reads : 53203073
1010 # of uniquely mapped reads : 14377

[2016-08-19 23:42] rob-p commented on #78
*Note:* This behavior is exhibited in salmon v0.7.0 in alignment mode when using `--useVBOpt` in conjunction with `--incompatPrior 0`.  The key here will be determining why `--incompatPrior 0` triggers this behavior.

[2016-08-20 21:45] rob-p commented on #78
Hi @zhangchipku,

  The referenced commit should fix this issue.  I've tested `--incompatPrior 0` in alignment and read-based mode with and without VB.  The bug was the result of a double-precision floating point comparison close to machine precision returning an unexpected result.  The behavior has been fixed (and modified).  I'm still planning to do more testing, but feel free to test this out i

[2016-08-21 01:59] rob-p commented on #64
Hi @vals,

  So there was a very subtle bug in `useFSPD` that would (in a very non-reproducible manner) trigger such a segfault.  It was related to some very tricky locking behavior.  However, the manner in which `useFSPD` corrected for position specific bias isn't actually compatible with our new sequence-specific and fragment-gc bias models.  Thus, I've deprecated `useFSPD`.  The replacement is

[2016-08-21 02:22] rob-p commented on #66
Hi Peter,

  Obviously, I got tied up with other obligations a bit longer than I thought!  Sorry for the delay.  Anyway, I've run both of these samples with the newest release, using parameters as close as I can (given that the bias correction flags have changed in 0.7.0).  Both samples seem to run cleanly.  Would you mind testing with the latest release and seeing if the issue is resolved?  Here

[2016-08-21 02:43] #54 closed

[2016-08-21 02:45] rob-p commented on #36
This is the behavior of the automatic `A` or `a` library type in 0.7.0.  So I think this issue / improvement is resolved.

[2016-08-21 02:45] #36 closed

[2016-08-21 02:46] rob-p commented on #15
The gencode option behaves described above, and is implemented as of commit 	d44df88, so it should make it into the next tagged release.

[2016-08-21 02:46] #15 closed

[2016-08-21 02:48] rob-p commented on #11
I believe this issue has be resolved for a while.  Feel free to re-open this issue if it is not.

[2016-08-21 02:48] #11 closed

[2016-08-21 03:43] rob-p commented on #78
@zhangchipku — here's a pre-compiled binary to test, in case you're unable to build a binary from develop on the target machine.

[SalmonBeta-0.7.1-pre-aug20_linux_x86_64.tar.gz](https://github.com/COMBINE-lab/salmon/files/428673/SalmonBeta-0.7.1-pre-aug20_linux_x86_64.tar.gz)

[2016-08-22 16:12] rob-p commented on #78
Confirmed that this is resolved in 0.7.1.

[2016-08-22 16:12] #78 closed

[2016-08-22 16:15] rob-p commented on #50
This is related to the way `--useFSPD` was implemented (see #64).  This flag has been deprecated, and a replacement (`--posBias`) has been introduced as of 0.7.0.  This should not exhibit the same behavior.  The `--posBias` flag is currently experimental, but will move out of that status in the next major release after it has been in the wild for a bit.  Please let me know if the [latest release](

[2016-08-22 20:26] warrenmcg commented on #50
Thanks Rob! I won't be able to get to it until later this week at the earliest because of helping to finish a manuscript, but I'll let you know as soon as I get to it! Looking forward to the new release!

Best,
Warren

[2016-08-23 00:38] DarwinAwardWinner opened #79 ""--libType A" doesn't work in alignment mode"
It seems that `--libType A` only works when running on a fastq file, not on a bam file. This doesn't seem to be documented anywhere.

[2016-08-23 01:43] rob-p commented on #79
Hi Ryan,

  You're right.  This fact is not documented and it should be.  I'll update the docs to address this.  Using the `A` library type with pre-computed alignments has one additional complication that doesn't arise in the quasi-mapping mode.  That is, many aligners offer the user the capability of aligning the reads with a prescribed library type (e.g. TopHat, HISAT, etc.), so that in this ca

[2016-08-23 13:26] mpi-pebert commented on #66
Hi Rob,
thanks for getting back to me about this issue. It looks like with the most recent version [0.7.1], the problem - whatever it was - is solved; both samples are processed fine, I am ending up with mapping rates of ~72% and 78%, respectively. Thanks for the support.
Best,
Peter

[2016-08-23 13:26] #66 closed

[2016-08-23 17:19] DarwinAwardWinner commented on #79
Are you referring to the issue that if an unstranded library is aligned in stranded mode, then Salmon will infer that the library is stranded due to the lack of alignments on the reverse strand?

[2016-08-23 17:41] rob-p commented on #79
Yes; precisely.  In the alignment-based case, Salmon will infer the library type from the alignments.  In the case you mention above (someone performs stranded alignment using an unstranded library), Salmon would incorrectly infer a stranded type, though it would actually be a byproduct of passing incorrect options to the aligner.  In the read-based mode, since we have control over both the mappin

[2016-08-23 17:43] DarwinAwardWinner commented on #79
Yes, I'd say that's ok. Just document that there's no way for Salmon to verify that you chose the correct stranded mode during alignment, i.e. Salmon inferring a stranded library type is not an independent confirmation of the library type.

[2016-08-23 21:42] rob-p commented on #79
I agree.  I'm working on this feature now, and there is one more (somewhat trivial) complication.  It is that, in read-based mode, the other options inform as to whether the sample is paired-end or single-end (based on whether the user passes in `-1` and `-2` or `-r`).  However, this is not the case in alignment-based mode, as the BAM file can contain either single or paired-end reads.  I propose

[2016-08-23 22:29] DarwinAwardWinner commented on #79
A BAM file can contain both paired and single-end reads. I haven't been using Salmon long enough to know whether it supports a mixture of paired and single reads. If it doesn't, then there's no issue, because you know immediately after reading the first mapped read whether it is paired. If Salmon does support a mixture of paired and single reads, then you have a problem, because you could have, fo

[2016-08-25 14:07] rob-p commented on #79
Thanks for the thorough suggestions.  Actually, we fall into the easier case since Salmon does not support mixing single and paired-end reads in a single BAM file.  When performing quantification on a single sample, the reads for that sample must follow a uniform library type.  For paired-end reads, the BAM file can contain paired-end and single-end alignments (i.e. orphans), but the reads must al

[2016-08-27 15:47] rob-p commented on #38
The implementation to output mapping information from within salmon (not yet full alignments) is almost complete.  The feature needs some testing, but it will definitely make it into the next release.

[2016-08-29 13:51] uros-sipetic opened #80 "Salmon Quant Alignment --help"
Hey, just a quick note, when using Salmon Quant Alignment --help option, the parameter
--noBiasLengthThreshold is listed twice, one is I suppose the new description and one is from the old version. Correct me please if I got something wrong.

Also, the parameter  --fldMax lists its default value at 800, but in the new version, the same parameter for Salmon Quant Reads lists the default value at 10

[2016-08-29 14:21] rob-p commented on #80
Hi @uros-sipetic,

  Indeed, you're right on both fronts.  I've just pushed commit 423b622, which addresses these.  It removes one of the duplicate flags --- keeping the one with the same description as in the mapping-based mode, and it updates the default `--fldMax` in alignment-based mode to be 1000 for consistency with mapping-based mode.  Thanks for pointing these out!

[2016-08-29 14:21] #80 closed

[2016-08-29 16:22] uros-sipetic opened #81 "Documentation --help typos"
Hey, I ran into couple of more typos in the --help documentation.
In Salmon Quant Reads mode, the option --writeUnmappedNames says the the file created is named unmapped.txt, while it is actually named unmapped_names.txt
In Salmon Quant Alignment mode, the option --sampleUnaligned says the un-aligned reads are also written to the file "posSample.bam", I suppose a 't' is missing there?
Also, when I

[2016-08-29 17:20] rob-p commented on #81
Hi @uros-sipetic,

  No bother at all; it's very helpful.  Keeping the documentation correct and consistent during development (and between different code paths) is always a bit challenging, so I appreciate your notifying me of discrepancies!

--Rob

[2016-08-30 00:42] rob-p commented on #81
Fixed in fd4a3c6.

[2016-08-30 00:42] #81 closed

[2016-08-30 13:27] rob-p commented on #79
Given the alternatives, I think this is currently the best approach for implementing automatic library type detection in alignment-based mode.  I'll add an appropriate note to the documentation to specify that streaming input cannot be used with automatic library type detection when using the `A` library type --- otherwise it should work as in the read-based mode.

[2016-08-30 13:27] #79 closed

[2016-08-30 19:22] gresteban opened #82 "libtype specification"
Version 0.7.1 seems to refer to "SF" libtype as just "F". Maybe this is an abbreviation done on purpose since "F" alone necessarily implies "stranded" but I think that can be confusing. Moreover, in lib_format_counts.json file, both "F" and "SF" are listed, but only "F" gets counts whereas "SF" is 0. "F" is not recognized as a valid library type for the parameter `-l`, only "SF" is (as expected).

[2016-08-30 22:30] rob-p commented on #82
Hi @gresteban,

  Thanks for reporting this.  Did this happen when running with the automatic library type detection or with `-l SF`?  It is *not* intended, but knowing what code path was executed will help me narrow down the source of the bug.

[2016-08-30 23:33] gresteban commented on #82
Hi and thanks for your (as usual) rapid response.

It happens with both `-l A` and `-l SF`. In both cases libraries are reported as "F".

The command line that I used was pretty straight forward:

`salmon quant -i ./salmon_idx -l A   -r sample.fastq.gz  -o salmon_quant_01;`

`salmon quant -i ./salmon_idx -l SF -r sample.fastq.gz  -o salmon_quant_02;`

The content of the file lib_format_counts.json

[2016-08-31 04:02] rob-p commented on #82
Hi @gresteban,

  Thanks for reporting this.  One issue is that the library types are kept encoded in a dense table.  Some codes correspond to "invalid" library types (i.e. types we'd never see in practice like single end, with a paired-end strandedness type like forward-reverse, etc.).  Even those these never garner counts, the `lib_format_counts.json` file was generated by enumerating all possib

[2016-08-31 04:02] #82 closed

[2016-08-31 09:22] gresteban commented on #82
Great!

Thanks for your work.

[2016-08-31 15:40] DarwinAwardWinner opened #83 ""--gcBias" option for single-end reads?"
Is there any possibility of implementing the `--gcBias` option for single-end reads? I have a dataset where this would be very useful. I suppose in order to do this you'd need to assign an end point to each transcript whose start point is represented by a single read. You could either just assume every fragment's length is equal to the given mean fragment length, or maybe use the fragment length d

[2016-08-31 16:04] DarwinAwardWinner commented on #83
Side note: does Salmon learn the fragment length distribution from the data, using the user-provided values as a starting point? Is it even possible to do this for stranded single-end data?

[2016-08-31 17:10] rob-p commented on #83
Hi Ryan,

  The difficulty is, indeed, exactly as you specify.  Given a single-end read, one does not know the length of the *fragment* from which it originates.  In this case the "right" thing to do (the best thing we can do) is to consider the read as starting / ending a fragment of every possible length allowed by the user-provided fragment length distribution (with the contribution of each pos

[2016-08-31 17:34] rob-p opened #84 "Add lib_format_counts.json to alignment-mode output"
It's possible to gather this information and output in alignment-mode as well, we should support this — it requires some extra book keeping.

[2016-08-31 17:53] mikelove commented on #83
No additional ideas from me. I didn't cover single-end when coding up alpine, but I would go about it just as you describe.

re: "under the naive implementation in the single-end case", I guess the _super-naive_ implementation is to just use the FLD mean to compute the observed GC model (ignore the distribution for this estimation task). It might get close enough. I guess one could test by compari

[2016-09-01 02:16] rob-p commented on #38
Ok, SAM output of the mapping information is available in 0.7.2 :).

[2016-09-01 02:16] #38 closed

[2016-09-01 19:15] DarwinAwardWinner commented on #83
I would be happy with an approach just using the mean fragment length. I assume it would be better than no GC bias correction at all for data that has GC bias issues.

[2016-09-02 11:51] davismcc opened #85 "Effective length greater than transcript length"
Hi Rob

I'm using Salmon v0.7.2 to quantify expression from single-cell RNA-seq data, using a command like the following:
[code]

The index was built with Salmon v0.7.1 (could this be a problem?), from a fasta file with Ensembl v75 transcripts and ERCC spike-in transcripts.

Having a quick skim of the quant.sf output I noticed that some transcripts have an effective transcript length greater than

[2016-09-02 12:08] vals commented on #85
Hey Davis, the effective lengths are "corrected" to include factors due to sequence-specific and GC biases. After this TPM is normalised by these bias corrected lengths.

The longer effective length means you are more likely to generate fragments from these transcripts than other of same physical length. (If I'm not misunderstanding something)

The new manuscript is a pretty nice read :) http://ww

[2016-09-02 12:35] davismcc commented on #85
Thanks for the explanation, Valentine. That makes sense.

The new manuscript is indeed fantastic, but I admit to having skipped straight to the results and have not yet digested the details!

[2016-09-02 13:45] rob-p commented on #85
Exactly what he (@vals) said :).  The interpretation would be that in this case, given the sequence composition of these transcripts (including both the sequence-specific and fragment GC biases), you'd expect *a priori* to sample more reads from them — thus they have a longer estimated effective length.  Thanks both for the kind comments on the latest manuscript!

[2016-09-02 13:45] #85 closed

[2016-09-02 16:00] vals commented on #85
@davismcc Out of curiosity, do you see something along the lines of ERCCs having systematically longer effective than physical lengths, compared to mRNA transcripts?

[2016-09-05 13:03] uros-sipetic opened #86 "--writeMappings not writting output to file"
Hey, I tried the new option --writeMappings, and I called it like this "--writeMappings mappings_info", in order to write the resulting information to a file instead of printing it to stdout.
But it got printed to stdout nevertheless and I never get the mappings_info file, which I specified in the argument.
Are the results still ought to be printed to stdout, in addition to being written to a file

[2016-09-05 15:34] rob-p commented on #86
Hi @uros-sipetic,

  Thanks for reporting this.  I can't reproduce the issue that, when I pass an argument to `writeMappings`, the SAM data is still written to stdout.  Could you tell me if you're using the pre-compiled binary, and if so, what type of system you're running on?   However, I can produce a different issue which may be related (and might be an issue with the logic for checking if a di

[2016-09-05 16:15] uros-sipetic commented on #86
Hi
I did use the pre-compiled binaries and the system I use is ubuntu 14.04.
Hmm.. even with the change you wrote, I seem to be getting similar results.
Does the order of parameters matter? I.e. in my command line, should I put -o first and then --writeMappings?

[2016-09-05 18:37] rob-p commented on #86
The order of the argument's shouldn't matter here.  If I switch around `-o` and `--writeMappings` I still don't get output to stdout.  Could you paste the contents of `cmd_info.json` in the quantification directory, and also the result of `uname -a`?  Our main dev box is also Ubuntu 14.04, so I wouldn't think that the OS version should be an issue given that I can't repro this behavior.

[2016-09-05 20:29] uros-sipetic commented on #86
I'll double check these days if I did something wrong, to see why I'm not getting the output file. In the meantime, here's the cmd_info.json:

{
    "salmon_version": "0.7.2",
    "index": "ucsc.hg19.transcriptome_salmon_index",
    "libType": "A",
    "mates1": "reads.pe_1.fastq",
    "mates2": "reads.pe_2.fastq",
    "output": "reads.pe_salmon_quant",
    "threads": "2",
    "auxDir": "aux_info"

[2016-09-05 20:33] rob-p commented on #86
Ahh!  Well, for some reason it appears that your command line is being parsed incorrectly.  This file, `cmd_info.json` is a JSON dictionary representing the arguments passed to the program (and some other info).  Here you can see that the `writeMappings` key has an empty value `[]`.  Further, you can see that there is then an *empty* key `""` that has the value that you intended to assign to `writ

[2016-09-05 20:48] rob-p commented on #86
No problem!  Once you can confirm that this is the issue (and that fixes to your script resolve the problem), just let me know and I'll close the issue.

[2016-09-06 09:52] uros-sipetic commented on #86
Hi @rob-p
So I tried testing again, running Salmon without any scripts, and again I keep having the same issue. The command line part with the parameter in question is (copy-pasted):
 "--writeMappings test_output/mappings_info"
and the cmd_info.json file looks the same as before, with the "" key.
Do I need to call that parameter differently, like --writeMappings=file_name, or...?
If I did made som

[2016-09-06 12:32] rob-p commented on #86
Ok, I was able to reproduce your issue.  Interestingly, it happens for me *only* with the pre-compiled binary.  My guess is that it's a problem with using both default and implicit options with the older version of boost with which the pre-compiled binary was made (I make the binary under a docker image with an old version of CentOS to maximize compatibility).  A temporary work-around is to use th

[2016-09-06 12:52] uros-sipetic commented on #86
Hey this totally worked actually. Thanks for your answers Rob! Glad it got resolved!

[2016-09-06 13:00] rob-p commented on #86
Likewise!  Sorry for the trouble.  Holy Build Box (the environment I use to make the pre-compiled binaries) is great.  But it looks like I have to figure out which component (boost libraries, gcc version, etc.) is causing this behavior there.

[2016-09-06 15:11] rob-p commented on #86
Hi @uros-sipetic,

  Actually, it looks like what you're seeing is [actually the intended behavior](http://stackoverflow.com/questions/39351580/default-and-implicit-arguments-in-boost-program-options), and the behavior where `--writeMappings ./test_output` works is actually unexpected.  Thus, I don't anticipate this being "fixed" in a future release, since it's actually behaving as expected.  So,

[2016-09-06 15:11] #86 closed

[2016-09-07 14:21] satta opened #87 "separate embedded RapMap code"
Hi, I am currently trying to update the version of Salmon in Debian to the latest version (0.7.x) and it seems that it now embeds a copy of the RapMap code that is mixed with the salmon code and compiled together. Unfortunately Debian policy discourages embedded code copies, and the preferred way of solving this would be to have RapMap build a shared library (and/or the necessary C++ headers) that

[2016-09-07 17:50] PeteHaitch opened #88 "Question: Running Salmon on multiplexed sample"
Hi Rob,
I'm going to be running Salmon on some samples that were multiplexed during sequencing, i.e. each replicate has > 1 pair of FASTQ files. My instinct is that I should concatenate each of R1 and R2 FASTQs at the replicate level and run Salmon on these concatenated files. That way I get one lot of Salmon output per replicate (there's no way to merge/combine Salmon output is there?) and the bi

[2016-09-07 18:02] rob-p commented on #83
Alright, I'll have a go at the simple model. @mikelove, once I have it implemented we can figure out a reasonable test.

[2016-09-07 20:44] rob-p commented on #88
Hi Pete,

  Yup, this would be my recommended way to handle it.  Since salmon accepts streaming input, you could do something like:

[code]

to avoid creating the intermediate concatenated files on disk.  This will treat all the multiplexed samples from the same replicate as one giant input read stream (conceptually representing a single replicate).  As far as merging / combining Salmon output, if

[2016-09-07 20:44] #88 closed

[2016-09-07 20:48] PeteHaitch commented on #88
Excellent, I was hoping streaming input would 'just work'. Thanks, Rob!

On Wed., 7 Sep. 2016, 4:45 pm Rob Patro, <notifications@github.com> wrote:

[2016-09-09 02:54] rob-p commented on #55
The current behavior, which I think is the most reasonable for now, is to keep logging messages to stderr, even if they are not errors.  This lets us use stdout for output which may need to be redirected to other programs (e.g. mapping results).

[2016-09-09 02:54] #55 closed

[2016-09-09 02:54] rob-p commented on #46
Has this been resolved?

[2016-09-09 02:56] rob-p commented on #16
I still like the idea of tagging potentially violating transcripts, but I think that the existing issue is reasonably well-resolved with the combination of (1) the new format of reporting incompatible mappings (i.e. if there is any compatible mapping of a read, then the entire read is considered as "compatible") and (2) the ability to write the actual mappings out, so that they can be inspected if

[2016-09-09 02:56] #16 closed

[2016-09-09 04:23] sjackman commented on #46
Yes. I built salmon 0.7.2 from source using GCC 5.3.

[2016-09-09 04:23] #46 closed

[2016-09-09 14:19] roryk opened #89 "bioconda package"
Hi Rob,

I've been trying to update the bioconda package, but I can't get it to build. The bioconda package pulls in gperftools so Salmon gets built with tcmalloc, to fix some problems over NFS on CentOS < 6: https://github.com/chapmanb/bcbio-nextgen/issues/1376 I can get that to work by pulling in libunwind, but I end up with a bunch of linking errors I don't know how to fix.

I could use a hand

[2016-09-09 14:22] rob-p commented on #89
Hi Rory,

  I'd be happy to help out.  However, can you first ensure that this NSF issue still persists with the "default" jemalloc allocator?  It's true that a variant of Salmon 0.6.0 manifested a segfault during program shutdown that seemed to be the result of using jemalloc (in combination with input/output files being read / written over NSF), however I subsequently restructured some of the me

[2016-09-09 14:30] roryk commented on #89
Thanks! I don't have a CentOS 5 setup anywhere where I could test, but if it should be fixed then I'll go ahead and update the formula and bug you about it if anyone runs into problems.

[2016-09-09 18:31] roryk commented on #89
Is there some way I can pass a custom CFLAGS to the libbwa build? The Makefile there assumes a system-wide installed zlib, which bioconda doesn't have on its docker image, so the bwa build needs to get the -I and -L flags to point to the correct place.

[2016-09-09 20:07] rob-p commented on #89
Hrmm --- [this](https://github.com/COMBINE-lab/salmon/blob/master/CMakeLists.txt#L366) is the relevant part of the CMakeFile that builds this.  It uses the `CC` and `CXX` variables, but doesn't explicitly pass along any others.  The first thing to check is what variables the bwa makefile respects, and then to propagate these along via CMake.

[2016-09-09 20:18] rob-p commented on #87
Hi @satta,

  Thanks for bringing this to my attention.  I am of two minds on this proposal.  On one hand, I agree that it is cleaner, in theory, to have a RapMap shared library to which Salmon could simply link.  Currently, Salmon pulls in the relevant portions of the RapMap code to call what is essentially an ill-defined public API for mapping.

  On the other hand, I have two concerns about sep

[2016-09-10 00:13] roryk commented on #89
Got this working, I had to make some edits to CMakeLists.txt:

[code]

jemalloc wasn't getting passed the -fPIC flag properly so was causing some problems and libstaden was having some troubles finding the non-systemwide installed zlib.

[2016-09-10 00:13] #89 closed

[2016-09-10 05:15] rob-p commented on #89
Great!  I'm glad you were able to get this compiling.  Is there a generic way to apply your changes to the CMakeLists.txt so they are *optional* (e.g. Could be triggered with a `-DCONDA_BUILD=TRUE` flag to cmake or some such?

[2016-09-11 06:31] DarwinAwardWinner commented on #83
I would think the best way to test it would be as Mike says: run Salmon on a paired-end library with bias-correction enabled, and then re-run it on only read 1 of the same library, only read 2, and on all the reads but treating it as single-end, and see how close it comes in each case. I would say it's also important to test whether the bias estimation is robust against modest misspecification of

[2016-09-11 06:35] DarwinAwardWinner commented on #83
Unfortunately, I don't necessarily have a great data set to test one, since my motivation for requesting this feature was that I don't have paired-end data for the project I'm working on.

[2016-09-14 16:16] nskbe opened #90 "--writeMappings=<file> fails"
Running Salmon-0.7.2_linux_x86_64 with --writeMappings=map.out and it crashes with:

Exception : [boost::filesystem::create_directory: No such file or directory]

When I run without a file name, it outputs to stdout, but it also outputs messages such as:
ESC[1m[2016-09-14 11:06:07.550] [jointLog] [info] parsing read library format
ESC[00mESC[1m[2016-09-14 11:06:07.550] [jointLog] [info] There is 1

[2016-09-14 16:31] rob-p commented on #90
Hi @nskbe,

  The issue you're seeing with the mapping file name is related to this note in the release notes:

Essentially, the code should internally qualify the filepath before checking if a directory exists, but it doesn't.  The fix for this is to pass the file name as a qualified path (i.e. adding `./` before the file name when you want it in the current directory).  This is already resolved

[2016-09-14 16:50] nskbe commented on #90
Hi, Rob, thanks for the quick reply! By the way, great job on salmon!

Using ./ did fix the issue.

About the stdout issue, I'm running:

~/programs/Salmon-0.7.2_linux_x86_64/bin/salmon quant -i /data/reference/salmon/gencode.grch37.v19/ -r test.fastq --seqBias --gcBias --posBias -p 12 --geneMap /data/reference/salmon/gencode.grch37.v19/geneMap.txt --libType U -o x --writeMappings > out.sam

and n

[2016-09-14 16:52] rob-p commented on #90
Hrmm, that shouldn't happen (i.e. that's why the log is called `stderrLog`).  So something is strange there.  I'll take a look.

--Rob

[2016-09-14 17:05] rob-p commented on #90
Ahh --- I see what's happening.  This is the offending line:

https://github.com/COMBINE-lab/salmon/blob/develop/src/SalmonUtils.cpp#L1346

I must have changed it and forgotten to change back at some point.  That should be stderr, not stdout.  I'll fix this in develop and build a new release.

--Rob

[2016-09-14 22:45] nskbe opened #91 "Output stats"
Can I suggest that salmon outputs stats like bowtie and STAR does, such as the number of reads sequenced, total mapped, number of uniquely mapped reads, number of non-identical reads?

I can do it on the side, of course, but since salmon already reads the .fastq file, it's faster if it outputs such stats.

Thank you!

[2016-09-15 14:25] rob-p commented on #91
You may :). Most of this data is actually already there in `aux_dir/meta_info.json`, but producing a pretty report (and keeping track of some extra stats) shouldn't be hard.

[2016-09-15 16:30] nskbe commented on #91
Thanks, that's helpful!

I guess the number of "uniquely aligned" reads doesn't make sense in pseudo-alignment. The total number of mapped reads is enough.

Would it be possible to estimate the number of non-identical mapped reads, i.e. reads unique at the sequence level (but accounting for mismatches and how salmon assigned them), in order to have an idea of PCR duplication?

Thanks a lot!

[2016-09-15 17:25] mjsteinbaugh commented on #46
I seem to be having this same problem attempting to compile salmon 0.7.2 using GCC 5.3 (linuxbrew) on our server cluster. Works fine on my Mac though. Any ideas? I can post the log.

[2016-09-15 22:44] sjackman commented on #46
May as well post `brew gist-logs salmon` for the record.
I'll build a precompiled binary bottle for salmon 0.7.2.

[2016-09-16 00:27] sjackman commented on #46
Bottled. Try again now, Michael.
[code]

[2016-09-19 20:52] mjsteinbaugh commented on #46
Perfect that works!

[2016-09-26 09:10] davismcc opened #93 "Quantification of scRNA-seq data with UMIs?"
Hi Salmon team

Are there plans afoot to support quantification of scRNA-seq data with unique molecular identifiers (UMIs)? UMIs are very commonly used in scRNA-seq data now, and correct quantification requires "de-duplication" of the reads so that each UMI is only counted once for expression quantification.

Doing this is not entirely trivial, as a quick survey of tools available shows (e.g. [UMI

[2016-09-26 09:41] vals commented on #93
I would argue that Kallisto is "cheating" a bit by looking at expression of the equivalence classes :p, avoiding the ambiguous assignment issue.

Just offering an opinion as a Salmon fan, but to me it seems extremely hard to make the data generation model of coverage based sequencing compatible with umi-tags.

I've been thinking a bit about this, and actually, if the PCR bias model in 0.7/Alpine i

[2016-09-27 02:24] #90 closed

[2016-09-29 01:35] vasisht opened #94 "Incorrect flags for unmapped reads with --writeMappings"
The not primary alignment flag is set for unmapped reads in the SAM file.  The RNAME, POS and CIGAR are also set. I'm not sure if this is additional information for a read, since it did not map to any transcript.  It's not a major issue, since the checks for some of these can be turned off.

example:
`
NB501336:15:H3KVTBGXY:1:11103:9432:10865  373     ENST00000536438 1314    0       151S    =

[2016-09-29 01:51] rob-p commented on #94
Hi @vasisht,

  Actually, the settings of these flags aren't incorrect according to the [SAM spec](https://samtools.github.io/hts-specs/SAMv1.pdf):

That is, if the unmapped flag is set, then there is not a specific "correct" setting for these other fields, since they should most likely be ignored anyway.  That being said, concordant with some small changes in the [most-recent RapMap](https://gith

[2016-09-29 01:51] #94 closed

[2016-09-29 15:46] JohnMCMa opened #95 "Add --gencode option to Alignment-based mode"
Currently the indexer has a --gencode flag to handle the composite fasta headers in GENCODE transcript fasta files and `split the transcript name at the first '|' character`.

However, the alignment-based mode doesn't use an index, and the current behavior is to read the fasta headers from -t verbatim. So, if I run the STAR aligner with the standard workflow using GENCODE files as index, the Align

[2016-09-29 15:58] rob-p commented on #95
Hi John,

  Thanks for reporting this.  Indeed this is an oversight.  The gencode option is applied in quasi-mapping mode during index construction,  but there is no indexing step in alignment mode.  So, this transformation should be applied when the reference sequences are loaded in alignment-based mode.  I'll add this option to alignment-based quant for v0.7.3, which should be coming soon.  Than

[2016-09-29 19:05] vasisht commented on #94
@rob-p That's a good point. I have been relying on Picard for validating the files and this was flagged as an error. Incorrectly so as you point out. Is there any validation for the CIGAR strings that are generated?  In some cases with some of the shorter transcripts, the operator falls of the end of the reference. ENST00000424567 is 135 bp long.

[code]

[2016-09-30 14:32] amyvoltz opened #96 "something wrong with calculation of the mapping rate BUG"
[2016-09-28 16:30:02.512] [jointLog] [warning] Something seems to be wrong with the calculation of the mapping rate.  The recorded ratio is likely wrong.  Please file this as a bug report.

after running

and then

Any help is appreciated.
Thanks,
Amy

[2016-10-01 15:06] rob-p commented on #96
Hi @amyvoltz,

  I notice that in your `quant` command, you're missing a library type.  Could you try with

[code]

(or the specific library type instead of `A` if you know it). After that, please let me know if the problem persists.  If it does, it would be useful to look at `transcripts_quant/cmd_info.json` and `transcript_quants/aux_dir/meta_info.json`.

Thanks,
Rob

[2016-10-02 13:23] amyvoltz commented on #96
Thanks Rob for your quick reply.
I did specify a library type in my command, I think I missed it though when
I copied into the email.

I'm attaching the files you requested. I really appreciate your help.
Amy

On Sat, Oct 1, 2016 at 11:06 AM, Rob Patro <notifications@github.com> wrote:

--
Amy K. Voltz, Ph.D.
avoltz@umd.edu
Assistant Clinical Professor
First-Year Innovation & Research Experience
T

[2016-10-02 17:20] rob-p commented on #96
Hi Amy,

  Unfortunately, when you reply to github via e-mail, it doesn't include attachments.  Could you please either upload the files here (the github web interface supports drag-and-drop), or just send me an email.

Thanks,
Rob

[2016-10-02 17:39] amyvoltz commented on #96
Thanks for your patience Rob - I am new to github.
Here are the files you requested.

On Sun, Oct 2, 2016 at 1:20 PM, Rob Patro <notifications@github.com> wrote:

--
Amy K. Voltz, Ph.D.
avoltz@umd.edu
Assistant Clinical Professor
First-Year Innovation & Research Experience
Terrapin Genome Project
Office: Microbiology 1126B
*** check out our new lab space in BioPsych Building room 2217 ***

[2016-10-03 20:30] rob-p commented on #93
Hi guys,

  I'm certainly open to adding this type of thing if there's sufficient desire for it.  I agree with @vals that making umi tags compatible with a data generation model based on expected coverage seems very difficult.  Then, the question just becomes what is the best way to support umi-tagged data.  I'm open to suggestions, as well as to good datasets against which different approaches ma

[2016-10-03 21:00] rob-p commented on #76
This is addressed in e305503f6de8f0925fd2865580426ca7c460cdc7, which adds a `--cite` option at the top level.  Thanks @tseemann!

[2016-10-03 21:00] #76 closed

[2016-10-03 21:01] rob-p commented on #53
I think this issue is resolved, but let me know if I'm wrong about that.

[2016-10-03 21:01] #53 closed

[2016-10-05 14:05] rhlampe opened #97 "Memory Limits for Very Large Transcriptomes"
I'm looking at using Salmon on metatranscriptomes (environmental de novo assemblies). Our assemblies are typically very large, i.e. many millions of sequences. When scheduling jobs on my university's cluster (LSF), I'm required to set a memory limit. When salmon exceeds this limit, the job is killed, and I must restart the process. Is there a recommendation for predicting how much memory salmon wi

[2016-10-05 18:30] rob-p commented on #97
Hi @rhlampe,

  Currently, there is no way to prevent the salmon indexer from using more memory if it is needed ot build the index.  However, if there is a limit placed by the cluster, it will likely just result in a `bad_alloc` exception from the indexer.  The number of sequences alone can tell you a bit about scaling, but the total number of nuclotides being indexed is actually a better predicto

[2016-10-06 14:49] rob-p commented on #97
After some conversation on Gitter, it seems like this is resolved (positively :)), so I'm going to close the issue.

[2016-10-06 14:49] #97 closed

[2016-10-08 11:09] gresteban opened #98 "WARNING: couldn't find transcript named [XXXXXX]; returning transcript as it's own gene"
Hi Robb,

I'm getting the following warning message in all my runs of Salmon (0.7.2). Always the same transcript for all the libraries. The transcript reported has, indeed, no gene associated in the genemap file but it appears in the "quant.gene.sf" output file.  I've checked with a different dataset (different species, libraries and transcriptome reference) and there's always also one transcript

[2016-10-10 14:21] rob-p commented on #98
Hi @gresteban,

  Yes, here's what's happening.  Salmon's aggregation strategy is to collect the transcript-level abundances and then aggregate them to the gene level (this means summing the counts / TPMs, and doing an abundance weighted combination of the lengths / effective lengths).  If there is no gene annotated for a transcript, than Salmon's behavior is to treat this transcript as it's own (

[2016-10-10 14:45] gresteban commented on #98
Hi @rob-p,

Thanks for your responsiveness and detailed answer as usual.

I was mostly concerned for seeing it happening only once when there are many more transcripts with no gene associated. Since reporting a warning for each transcript with no gene associated could be too noisy, maybe reporting a warning with the total number of transcripts without annotation would be enough. (And not placing a

[2016-10-20 13:20] schelhorn commented on #52
Hello @rob-p, may I ask whether there are any news concerning gene fusion detection in Salmon?

[2016-10-20 14:08] rob-p commented on #52
Hi @schelhorn,

  Yes, we have built a pipeline atop salmon and quasi-mapping.  At this point, what we see is that it is very fast with high sensitivity.  Our main focus has been on improving the specificity, which is current better than some, but not all methods.  I realize, of course, that false-positives are a very difficult (and *key*) problem in this domain, so I'd really like to make sure th

[2016-10-20 14:33] schelhorn commented on #52
Great; would you like help testing the pipeline, and integrating it into bcbio? We could help with both :)

[2016-10-24 20:17] davismcc commented on #93
Thanks, both, for your thoughts here.

As I understand it, current UMI quantification approaches take a BAM file with read alignments and then (hopefully in some smart way) count unique UMIs from reads aligned to (overlapping?) genomic features of interest. In the first instance, can Salmon produce output compatible with those sorts of approaches? (I seem to recall it's possible to output (pseudo)

[2016-10-25 09:17] schelhorn commented on #52
Also, do you know if the Salmon pseudo-BAM is suitable for fusion calling by standard (alignment-based) fusion calling tools, ie does the BAM include information on mate pairs mapped across transcripts, or reads spanning breakpoints?

[2016-10-25 14:09] rob-p commented on #52
Hi @schelhorn,

  Sorry for the uncharacteristically slow response on this.  We're going full steam ahead for the RECOMB deadline, so I've been less responsive than usual.  Anyway, I've invited you to the repository for the fusion project (it's currently private).  Feel free to poke around, but it's probably not useful until we can send you a short writeup describing the current pipeline (since th

[2016-10-26 18:38] eldamarth opened #99 "Error building develop version: lzma.h not found"
After cloning the develop branch and following the initial installation steps, cmake worked with no errors but make didn't. I'm working on a remote server.
[code]
[make.log.txt](https://github.com/COMBINE-lab/salmon/files/554165/make.log.txt)

[2016-10-28 09:49] schelhorn commented on #52
Excellent; thank you. We'll have a look and see what we can contribute.

[2016-10-28 12:29] schelhorn commented on #52
Hello @rob-p, could you please invite @tetianakh to the repo as well? She'll do the development on our end. Thanks!

[2016-10-28 14:33] rob-p commented on #52
Hi @schelhorn,

  Sure, I'll had her now.  We'll send you a small write-up about the state of the codebase and how to run the current pipeline next week (once my student is back from the current CSHL meeting with all of the cool kids ;P).

[2016-10-28 18:12] schelhorn commented on #52
Sweet!

[2016-11-04 12:47] roryk commented on #52
Hi Rob,

Could I get in on this? We have a couple projects needing to call fusions on a large amount of samples, and it would be great to have something speedy to iterate on.

[2016-11-04 12:53] schelhorn commented on #52
FYI, I also asked in the kallisto project: https://github.com/pachterlab/kallisto/issues/122

[2016-11-04 16:23] fruce-ki opened #100 "Infinite indexing time?"
I've been using 0.7.1 without problems until today.
I'm trying to index the transcriptome (made with gffread) of human GRCh37 from archived Ensembl 60.

The process has been running for hours, with no messages beyond this:

[code]

This is all there is in the index.log

`[2016-11-04 13:45:38.583] [jLog] [info] building index`

None of me previous indexes have taken so long, especially not in total

[2016-11-04 16:26] rob-p commented on #100
Hi @fruce-ki,

  First, you are the lucky winner of issue #100 ;P (thankfully, most are closed).  This is happening very early on in the indexing step, and it shouldn't take more than a few minutes on normal size transcriptomes.  My guess is there is something strange in the actual fasta file that is confusing the parser.  Would you be able to share the fasta file?

--Rob

[2016-11-04 16:36] fruce-ki commented on #100
Hi Rob

I noticed :-D Yay me!

I've uploaded the file here https://uod.box.com/s/lctzij7tp8wxjeytwjnpyagubt45n5si
Hopefully I've set the permissions correctly to make it public.

I don't see anything particularly abnormal about it with a quick look of the first few entries.

--Kimon

[2016-11-04 16:47] rob-p commented on #100
Hi Kimon,

  I was able to access the file with no problem.  Unfortunately, I don't seem able to reproduce the issue!  I grabbed the 0.7.1 release, in case there were any differences between that and the latest develop version that I usually use, and I tried to index your fasta.

[code]

So the index builds successfully.  The process took ~3 min on my local machine.  I wonder what could be happeni

[2016-11-04 17:11] fruce-ki commented on #100
I gave it another try, as I wasn't monitoring resources before. It's trying to make a liar of me! It is working fine now after wasting my entire day. :/ It took under a minute. I had tried to run it a dozen times by the time I gave up and posted.

Oh well, thanks for the help! I'll go hide in shame somewhere now and convince myself I didn't imagine the whole thing :D

[2016-11-07 13:19] tetianakh commented on #52
Hi @rob-p, I haven't received an invitation to the private repo. Could you please invite me? Thanks!

[2016-11-07 14:10] rob-p commented on #52
Hi @tetianakh, I've re-sent the invitation.  If you don't get it, please send me an e-mail, and I'll reply with the link to join directly.

[2016-11-07 14:22] tetianakh commented on #52
Thanks, I've received it now.

[2016-11-07 15:27] rob-p commented on #52
Great :).  I'll have @hiraksarkar write up a brief overview of the current state of the codebase (including which branch contains the latest stuff) this week.  We can either share that information in the issues over at that repo, or we can e-mail you the write-up @schelhorn, @tetianakh and @roryk.  Let me know if one method is preferable to the other.

[2016-11-07 15:59] schelhorn commented on #52
Great; directly in the repo is preferred.

[2016-11-08 03:13] rob-p commented on #100
No worries --- this kind of thing has happened to me before (i.e., not the infinite indexing time, but running into issues that seem to go away when the developer tries to reproduce them ;P).  Feel free to open this issue back up if you encounter this again in the future.

[2016-11-08 03:13] #100 closed

[2016-11-08 21:59] ZachHunter opened #101 "FASTQ position usage by Salmon"
This is not exactly a bug, but a comment and a question regarding how Salmon uses the positioning data in fastq files. We had a series a RNASeq samples where the majority of the reads were listed at 0:0 in the fastq file. We think this is some obscure issue with one of the trimming/demultiplexing pipelines. No one noticed, as this data is not generally used, but it did throw an error with rsem. Lu

[2016-11-09 15:26] ramezrawas opened #102 "reproducibility issue"
I am trying to test salmon ver 0.7.2 using commandline:

salmon index -t test-data/transcripts.fasta -i output --type quasi -k 31 --threads 4 --sasamp 1
salmon quant -l IU -index output -1 test-data/reads_1.fastq -2 test-data/reads_2.fastq -o output_quant

the .sf file is not reproducible, any clue???

[2016-11-09 16:36] remyschwab opened #103 "OS X Binary not compatible with Sierra"
I'm getting a memory allocation error when I try to run the salmon binary after updating my OS. Here is the error:

salmon(65515,0x7fffdb32f3c0) malloc: *** malloc_zone_unregister() failed for 0x7fffdb325000

[2016-11-09 16:42] rob-p commented on #103
Hi @remyschwab,

  Yes, this is a known issue and is a result of an incompatibility with jemalloc (which we use as our memory allocator).  JEmalloc has issued a fix and this will be present in the next release.  For the time-being, I can provide you with an updated binary if that would help.

--Rob

[2016-11-09 16:52] rob-p commented on #102
Hi @ramezrawas,

  Can you say precisely what you mean by reproducible?  Do you mean that the values in the .sf file are not identical?  If so, this is expected behavior.  It exists for a number of reasons.  The big one is that the initial phase of salmon uses an online inference algorithm so that specific details of the solution are dependent on the order in which the reads are processed (which i

[2016-11-09 16:55] remyschwab commented on #103
Yes that would be great! Thank you for the quick response. How can I contact you?

[2016-11-09 17:01] rob-p commented on #103
GitHub supports uploading files directly in the issues, so I'll compile the updated binary and I'll drop it right here (I'll do this today, but it might be an hour or so).  Once you have it, you can confirm if it works for you (I'm still on 10.11, so I'll have to build it there, but with the updated dependency).

[2016-11-09 17:22] rob-p commented on #103
Hi @remyschwab,

  Can you try this binary?

--Rob

[Salmon-0.7.3-pre_OSX_10.11.tar.gz](https://github.com/COMBINE-lab/salmon/files/581439/Salmon-0.7.3-pre_OSX_10.11.tar.gz)

[2016-11-09 17:27] remyschwab commented on #103
It's still not working. If I type ./bin/salmon I get:

salmon(68460,0x7fffdb32f3c0) malloc: *** malloc_zone_unregister() failed for 0x7fffdb325000
version : 0.7.1

So maybe it's working okay but it's still printing the error message.

[2016-11-09 17:29] rob-p commented on #103
Indeed!  It looks like my script packaged the wrong version (0.7.1).  I'm re-compiling now; give me a sec.

[2016-11-09 17:33] rob-p commented on #103
Ok, please try this one.

[Salmon-0.7.3-pre_OSX_10.11.tar.gz](https://github.com/COMBINE-lab/salmon/files/581462/Salmon-0.7.3-pre_OSX_10.11.tar.gz)

[2016-11-09 18:13] remyschwab commented on #103
I'm actually still getting the same error.

[2016-11-09 18:15] rob-p commented on #103
Is it at least saying `version : 0.7.3` at this point?  If so, then I think that it may be the case that the build has to happen on an OS 10.12 box (or at least with the latest version of XCode).

[2016-11-09 18:17] remyschwab commented on #103
Ah okay yes it is saying 0.7.3.

[2016-11-09 18:30] rob-p commented on #103
Ok, that's interesting.  I am certain this is the error, because I had a student compiling salmon on OS 10.12 come to my office yesterday and we were able to fix the issue with exactly the change I'm using here.  I have one more idea (and one more shot before I try upgrading to 10.12).  Could you try the binary attached below?

[Salmon-0.7.3-pre_OSX_10.11.tar.gz](https://github.com/COMBINE-lab/sal

[2016-11-09 18:33] remyschwab commented on #103
No error so far! Thanks a bunch. I'll let you know if I get any more errors

[2016-11-09 18:41] rob-p commented on #103
Great!

[2016-11-09 22:23] #103 closed

[2016-11-10 03:37] tomsing1 opened #104 "salmon quant fails when the input is a bam file and the --seqBias or --gcBias arguments is included"
The documentation states

But I somehow can't get that to work. I have two bam files, each of them with (different) STAR alignments to the same reference. When I pass either one of them, salmon works just fine, e.g. with the following commands:

[code]
But when I try to pass both of them, I get the following error:

[code]

The `Checking that provided alignment files have consistent headers . . .

[2016-11-11 09:36] ramezrawas commented on #102
Hi @rob-p,

Thank you very much for the well-explanation :)

[2016-11-11 09:36] #102 closed

[2016-11-11 16:30] vasisht commented on #93
@davismcc What if you mark duplicates using UMIs based on the pseudobam and then use the unique reads to re-quantify? This is pretty ugly since you're quantifying twice and also potentially re-writing the fastq files, but it should hopefully eliminate a majority of the PCR duplicates.

[2016-11-11 16:33] rob-p commented on #93
Hi all,

  I'm just chiming in here to say that we are *definitely* interested in supporting scRNA-seq data "out of the box".  At this point, it's really just a matter of deciding what the best approach is.  That is, do we have a sufficiently good idea of the appropriate "model" for scRNA-seq to implement that, or is a de-duplicated UMI count over transcripts and equivalence classes the best we ca

[2016-11-11 16:40] vasisht commented on #93
@rob-p There are other applications (e.g. RNA from extracellular vesicles, low input RNASeq) that use UMIs. I'm not sure this should be restricted just to the scRNA-seq case. I don't know how the models would differ for each use case. I don't have any firm thoughts on it at the moment, but happy to help test the different approaches.

[2016-11-19 20:38] tomsing1 commented on #104
Ok, I realized that the Segmentation fault was not caused by passing multiple bam files, but by including either the  `--seqBias` or  `--gcBias` arguments.

The following command generates the segmentation fault:
[code]

and returns the following output before exiting:

[code]
follow by the segmentation fold.

The same command without the `--seqBias --gcBias` arguments succeeds. Perhas bias correc

[2016-11-19 20:43] rob-p commented on #104
Hi @tomsing1,

  Thanks for following up on this --- I was scratching my head about why multiple libraries might be causing an issue.  Both `--seqBias` and `--gcBias` are relatively new features, and have definitely undergone more testing under the "quasi-mapping" codepath than the alignment-based codepath (though it's passed our internal regression tests on both).  That being said, bias correctio

[2016-11-19 22:38] tomsing1 commented on #104
Hi Rob,

thanks a lot for your quick response and apologies for misdiagnosing my problem earlier.

## Data sources

The dataset I am looking at is from the SRA e.g. [this experiment](http://www.ebi.ac.uk/ena/data/view/SRR1033785).

My workflow uses thes following genome sequence:
* Mus_musculus.GRCm38.dna.primary_assembly.fa.gz
  * ftp://ftp.ensembl.org/pub/release-86/fasta/mus_musculus/dna/Mus_mu

[2016-11-21 19:06] shannonekj opened #105 "creating index to file that doesn't exists does not output error"
I ran the following command:

[code]
to a symlink to a file (metaG.ffn) that didn't actually exist and salmon was stuck on
[code]
 for an hour instead of spitting out a "file does not exist" error.

[2016-11-21 19:08] rob-p commented on #105
Hi @shannonekj,

  Thanks for reporting this.  This is resolved upstream & in the develop branch, and will be fixed in the next release of Salmon.  Sorry for the inconvenience!

--Rob

[2016-11-21 19:24] shannonekj commented on #105
Awesome! Thanks @rob-p !

[2016-11-24 15:53] Imoteph opened #106 "bypass version checking"
Hi

Is there any way to suppress the version checking during start-up phase?
As we have here firewalls with blocks the connection.

Kind regards

[2016-11-24 15:57] vals commented on #106
I think `salmon --no-version-check` should work?

[2016-11-24 16:04] Imoteph commented on #106
AH thx, sorry I was blind!

[2016-11-24 16:04] #106 closed

[2016-11-28 19:57] xinbindai opened #107 "Mapping count re-assignment between highly similar genes"
We have a partly assembled genome with some almost identical gene modes which can be either allele or paralogs. Usually there are only a few nuclear tide differences between them. We expected Salmon return similar expression levels for these similar genes. However, it came out one gene had normal counts(in my case it was roughly 12,000 mapping reads) and another gene got zero in mapping read count

[2016-11-28 22:01] rob-p commented on #107
Hi @xinbindai,

  What you are seeing in both Salmon and RSEM is the expected behavior.  This is because, to a large extent, the entire purpose of these tools is to appropriately allocate mulit-mapping reads.  In your case, it is likely the case that one of the two very similar transcripts could account for all of the reads, while the other could not.  For example, image I have a simple scenario w

[2016-11-29 18:41] jan-g1 opened #108 "Lexogen QuantSeq-Analysis -- Removing Trancript length normalisation"
Hello,
i'm currently dealing with RNA-seq data generated with Lexogen QuantSeq, as ana laternative method to microarrays (https://www.lexogen.com/quantseq-3mrna-sequencing/). Briefly, it's a kit to generate libraries of sequences close to the 3'-UTR with poly-dT-primers in the first PCR. Thus, only one specific fragment is amplified from a transcript. Therefore, the number of generated reads is sa

[2016-11-30 04:56] xinbindai commented on #107
Hi @rob-p , thank you for so quick response. I spent some time organizing my demo data. Here is link for demo: ftp://bioinfo.noble.org/pub/for-github/. Two genes, with transcript name MSAD_157177.t1 and MSAD_200218.t1, get significantly different expression value in two runs, although they are almost identical.

Below are NumReads from Salmon:
                               runA         runB
MSAD_

[2016-11-30 06:25] rob-p commented on #107
Hi @xinbindai,

  Thanks for putting up a link to the data.  I dug a little deeper into what you're seeing.  Here's an interesting observation --- rather than take the point estimate returned in `quant.sf` as is, I further assessed the uncertainty in the abundances of these transcripts (this can be done in Salmon via bootstraps or Gibbs sampling, both of which are supported).  I found the followin

[2016-12-03 19:25] rob-p commented on #108
Hi @jan-g1,

  The length of a feature is used during inference to determine the likelihood that multimapping reads should be allocated to different targets.  You're describing what is essentially a simplified model where P(f | t) (i.e., the probability of a fragment given a transcript) is independent of length(t).  There's currently no option to disable length normalization completely in Salmon,

[2016-12-05 09:58] jan-g1 commented on #108
Hi @rob-p ,

thank you very much for your quick and detailed answer. I really appreciate that you will include this feature in your next release.
Indeed, I'm interested in testing out your suggested script/tool !

Best,
Jan

[2016-12-08 00:43] qfwills commented on #93
Hi @rob-p and @davismcc . A bit delayed, but this relates to the questions I've been asking on the salmon gitter.

First, it's worth pointing out that the new 10x (v2) sequencing is a lot more like other bead methods, where (i) index reads (i7/i5) are for labelling biological samples (ii) read1 contains the combined cell and molecular/UMI barcodes (ii) read2 is the transcript 3' read. So it seems

[2016-12-08 10:16] vals commented on #93
I think not doing the demultiplexing is better for practical issues. I have a dataset with 120 000 cells, and I don't think a file system can handle these. And I think this will be common sample sizes soon.

[2016-12-08 17:43] qfwills commented on #93
Agreed! I honestly would prefer to just work with a single fastq where I stipulate what the sample, cell and molecular barcodes are.

[2016-12-13 16:06] rob-p commented on #101
Hi Zach,

  I apologize for taking so long to get back to you on this.  It fell of my radar and somehow I'd forgotten I hadn't responded yet.  This is not actually intentional behavior, as alignment-based Salmon doesn't explicitly make use of this positional information.  However, before using alignments, it does check that the alignments don't have QC fail flags set though (e.g. the dup or QC fai

[2016-12-13 16:15] rob-p opened #109 "Default settings"
Hi all,

  I just wanted to provide this space to start a discussion and get feedback about what people believe to be the most sensible _default_ settings for Salmon (in different modes).  We're happy to discuss any suggestions, but can start with some specific questions.  Here is the most basic.  Right now, Salmon has an "opt-in" philosophy.  That is, a default run starts with the most basic feat

[2016-12-13 16:38] roryk commented on #109
Hi Rob,

I don't have any specific suggestions but we usually assume that most people are going to run the analysis with the default parameters set so we try to lean towards setting the parameters that are most likely to give the most accurate results even if it incurs some cost in terms of speed and what not. I'd bet the most common analysis people are doing is salmon -> tximport -> DESeq2 so def

[2016-12-13 16:43] mdshw5 opened #110 "Write 'end_time' to 'meta_info.json'"
It would be helpful to have the end time in addition to the existing start time, or at least maybe a "runtime" value.

[2016-12-13 22:47] DarwinAwardWinner opened #111 "Gibbs sampler hangs forever on one of my samples"
One of my samples seems to be giving Salmon's Gibbs sampler some trouble:

[code]

It remained stuck at 0% until I terminated it with Control+C around 2016-12-13 14:21, nearly 1.5 hours after the Gibbs sample started. Running it again on the same sample, I see the same behavior. I'm currently re-running with different options to see if that makes a difference.

[2016-12-13 22:48] DarwinAwardWinner commented on #111
Oh, and I'm using the dev version of salmon from commit 1395a0ae394c924b6e206236b25efad52984b245 "Replace lock with try_lock in FragmentLengthDistribution".

[2016-12-13 22:55] DarwinAwardWinner commented on #111
When I take away the bias options and run:

[code]

It finishes successfully, but during Gibbs sampling, I get endless lines of:

[code]

[2016-12-13 23:16] rob-p commented on #111
Hi @DarwinAwardWinner,

  Great error report!  Thanks for the details.  The  `minEQClassWeight` error is actually very interesting (i.e. the fact that it's hitting that code path during the Gibbs sampling).  Would you be able to share the data set (or a part of the data set) that reproduces the issue?  I'd be happy to take a look and see if I can figure out what's going on.

[2016-12-13 23:34] DarwinAwardWinner commented on #111
Yes, the data is all public, so I have no problems sharing it, except finding a place to host it publically. I can't just link to the public source because there's some preprocessing steps. Both the FASTQ and the Salmon index are over 1.5 GB, so they're too big for my free Dropbox account, and my institute's network is tightly firewalled, so I can't just server if via a local server. Do you have a

[2016-12-13 23:46] DarwinAwardWinner commented on #111
I've just used https://transfer.pcloud.com/ to share the files with you. I think you should get an email with the download link. I've included the FASTQ, the index (entire folder in a tar.gz) and the salmon executable that I used.

[2016-12-14 00:36] rob-p commented on #111
Thanks!  I got the e-mail.  I'll take a look as soon as I have a chance.

[2016-12-14 01:51] DarwinAwardWinner commented on #111
Another nugget of information: when I run the same sample using the Ensembl annotation, it works fine.

[2016-12-14 02:44] rob-p commented on #111
So I got the data and am trying to repro the issue now (thanks!).  Quick question.  I noticed in your example command you have `--libType ISF`.  However, you have single-end reads, so the appropriate library type would be `SF` (i.e., they can't be "inward" facing reads, b/c there is no mate for each read).  When I run your command as is, but replace `ISF` as `SF`, my run completes successfully, an

[2016-12-14 03:26] DarwinAwardWinner commented on #111
Well, if they *were* paired end, they would be ISF. I assumed that Salmon would simply ignore the pairing information if you fed it single-end reads. (I think this is how some other tools work, maybe?) I'll retry with fixed library specifications and see if that fixes things.

[2016-12-14 03:40] DarwinAwardWinner commented on #111
So, does Salmon run into issues when it runs in unstranded mode on stranded data? Was that the problem?

[2016-12-14 03:44] rob-p commented on #111
No, that shouldn't cause a problem.  When I ran your command (including the `ISF` and placing the `--libType` after the set of reads), my run still completed successfully (and didn't produce any warnings during Gibbs sampling).  Salmon's behavior when running in unstranded mode on stranded data is simply to map the reads in the orientation they match, and to report on the console (and in the log)

[2016-12-14 03:46] DarwinAwardWinner commented on #111
Ok, that's the command without the bias options. It only hangs on the Gibbs sampling when you use the bias parameters as well.

[2016-12-14 03:50] rob-p commented on #111
Yup, but I'm just trying to work backward.  That is, first figure out what's going on with the `minEqWeight` error, and then figure out if that's related to what was causing it to hang.  The issue right now is just that I can't seem to easily repro either Gibbs error.  I just ran using the binary you compiled with the following command, and got this output:

[code]

i.e. I don't seem to get the co

[2016-12-14 03:53] rob-p commented on #111
We seem to get the same mapping rate etc., so I'm assuming something different is happening between the end of the normal optimization and the Gibbs sampling between your run and my run.

[2016-12-14 03:54] DarwinAwardWinner commented on #111
I'm on Ubuntu 16.04 64-bit, in case that matters.

[2016-12-14 03:56] rob-p commented on #111
I really hope it doesn't 😟 , but the testing I've been doing is on 64-bit 14.10.  I have a 16.04 box I can try it on as well.

[2016-12-14 04:12] rob-p commented on #111
Damn; I get the same behavior on 16.10 as I get on 14.10 (using the executable you provided).  It runs to completion and modulo our less-than-ideal handling of the `--libType` flag coming after the `--unmatedReads` flag, it completes without the Gibbs warning.  When I run with `--seqBias` and `--gcBias`, I get the same behavior (it runs and finishes w/o hanging or outputting the error messages).

[2016-12-14 05:39] DarwinAwardWinner commented on #111
I just got the hanging behavior again with a different sample and annotation (Ensembl transcripts instead of UCSC knownGene). I won't be able to send it to you until tomorrow though, since I'm at home working over ssh right now. But in the meantime, I'll run it again to make sure it's reproducible.

[2016-12-14 05:42] rob-p commented on #111
Great; hopefully I'll be able to repro the issue with the other sample.  No rush, as I'll be finishing putting together the final for my class tomorrow morning (and so will be testing the sample between writing exam questions ;P).  I just hope this doesn't turn out to be an environment / machine-specific behavior (those are *the worst* bugs to track down and fix).

[2016-12-14 06:04] DarwinAwardWinner commented on #111
Ok, the worst possible thing happened: I ran it a second time and it worked just fine. Does Salmon use any random number generation, and if so, is there an option to set the seed to get a deterministic run? Or is it potentially non-deterministic due to multi-threading?

One additional threading-related tidbit: I believe that when it does get stuck, a single CPU core is at 100% and the others are a

[2016-12-14 06:13] rob-p commented on #111
Damn.  There are random numbers, but even setting the seed, the multi-threaded nature of almost all steps leads to non-deterministic behavior.  The behavior you describe sounds like some sort of race condition that gets triggered depending on when threads get to different parts of the code.  I couldn't get the hanging with the other dataset over multiple (~10) runs.  So even if it's completely non

[2016-12-14 06:26] DarwinAwardWinner commented on #111
I think it probably fetched and built it? Here's what CmakeCache.txt says:

[code]

Also, here's the output of every hardware/OS reporting command I can think of:

[code]

lshw output: [salomon24-lshw.txt](https://github.com/COMBINE-lab/salmon/files/650904/salomon24-lshw.txt)

[2016-12-14 10:48] vals commented on #109
I like the opt-in structure, I think in general keeping models simple by default is a good way of doing things.

I know people just run programs without reading documentation and expect it to work perfectly. But I think somewhere, maybe even in the default quantification help, there should be a table or decision tree with information about how to choose options. E.g.

[2016-12-14 19:49] DarwinAwardWinner commented on #111
Ok, the hang has happened for at least 3 samples, but I've only seen it happen a second time for the first sample (the one I reported originally). It's definitely only running a single core are 100% usage when the hang happens, so presumably it's either hanging in a non-multithreaded part of the code, or all the other threads are just waiting for input and taking up no CPU.

[2016-12-14 20:02] rob-p commented on #111
Ok, nothing about your hardware, as reported, above, raises any ideas.  I'll keep looking at the code that executes between the end of VBEM and Gibbs.  However, one thing we might try to narrow down the offending region is running salmon under `gdb` (I can do this as well, but it's not useful on my end yet since I can't get the hanging behavior).  If you run salmon under `gdb` and then issue a `SI

[2016-12-14 21:27] DarwinAwardWinner commented on #111
Ok, I'll run it several times under gdb and see if I can get it to crash.

[2016-12-15 07:08] DarwinAwardWinner commented on #111
I haven't got it to reproduce the error yet, but I did see the error in one more run outside of gdb.

On the plus side, I did find this: http://stackoverflow.com/questions/6545763/how-can-i-rerun-a-program-with-gdb-until-a-segmentation-fault-occurs. So now I can have it keep trying forever.

[2016-12-15 13:48] rob-p commented on #111
Man, I was afraid it would be hard to repro _inside_ of GDB.  Sorry about that!  The solution you found does seem generally useful though.  Another possibility is to try to run it outside GDB, but to use `strace` (see the first answer [here](http://unix.stackexchange.com/questions/166541/how-to-know-where-a-program-is-stuck-in-linux)).  This would let the program run outside of GDB (where you can

[2016-12-15 15:35] DarwinAwardWinner commented on #111
Ok, new plan:

[code]

[2016-12-15 15:42] DarwinAwardWinner commented on #111
Hmm... That SO post also suggests attaching gdb to a process after it's running. Would that also be a viable option? Wait until it hangs and then attach gdb?

[2016-12-15 16:22] rob-p commented on #111
I've not tried that before, but I presume it would work (probably in a similar way to `strace`).  Either seem like good options at this point!

[2016-12-15 18:45] rob-p commented on #110
I just added this in f513e3155b7ff3e0c98f35c8620580cf140440c1.

[2016-12-15 18:45] #110 closed

[2016-12-15 19:10] DarwinAwardWinner commented on #111
Ok, I have an strace file from a hung run. I couldn't attach with gdb because the default system security settings prohibit it. I'll change the settings and try to get a gdb backtrace, but in the meantime, here's the strace log. Note that it was hung for about 2 hours before I was able to collect the log.

https://www.dropbox.com/s/zn7qzo55wtcrbyg/salmon-strace.log.gz?dl=0

[2016-12-15 19:43] rob-p commented on #111
30-some MB to 7.5GB ... that's some damn good compression.  While strace won't let me see the offending function, the log *definitely* indicates that there's just a bunch of threads waiting.  This must mean that there's the potential for a deadlock condition somewhere.  Is it the case that this happened once the Gibbs sampler had started?  That's the code I've been looking in, but all of the threa

[2016-12-15 19:56] DarwinAwardWinner commented on #111
Oh wow, I didn't realize it was 7.5 GB. I work on a ZFS filesystem with compression, so it was only 350MB on my disk. Anyway, this is what the last output on screen looks like when it hangs:

[code]

So I don't know if the Gibbs sampler has actually started, but it does claim to have started.

[2016-12-15 20:01] rob-p commented on #111
Yup, the execution is *definitely* inside the Gibbs sampler at that point, since that's the code that sets up the progress bar etc.  So, I'll focus my attention there until (if/when) we can get a specific offending function name.  Thanks so much for all your help tracking this down so far; I really appreciate it!

[2016-12-15 21:39] mikelove commented on #104
If it's useful, I made an example where you can run beginning to end to reproduce (didn't see this thread beforehand)

Download these:

[code]

Using STAR 2.5.2b

[code]

Then, following Thomas, I chop the version numbers from the FASTA

[code]

Now Salmon v0.7.2

[code]

**Note**: nothing in `libParams` dir...

[code]

This produces segfault:

[code]

[2016-12-16 00:27] DarwinAwardWinner commented on #111
So, apparently gdb can't attach to a running Salmon process. I haven't gotten Salmon to hang again yet, so all of the below are run while Salmon is not hung.

[code]

At this point, gdb hangs indefinitely, and salmon continues running, unlike other programs which pause when gdb attaches. Control+C does nothing. I press Control+Z:

[code]

Salmon continues unimpeded. Trying another utility, pstack,

[2016-12-16 00:52] DarwinAwardWinner commented on #111
Success???

[code]

[2016-12-16 00:56] DarwinAwardWinner commented on #111
And here's the log of the Salmon run that I got the backtrace from:

[code]

[2016-12-16 00:57] DarwinAwardWinner commented on #111
Also, I'm leaving this process running, so I can reattach to it and do more things to it.

[2016-12-16 01:11] rob-p commented on #111
Whoaa! Ok. This is something.  It's hanging in a place where we have no client (i.e., Salmon) threading code.  It's inside an Intel TBB for loop.  But, according to gdb, the TBB libraries that are executing at this point are system ones (/usr/lib/x86_64-linux-gnu/libtbb.so.2).  Also interesting is that the full backtrace is into a call to the logarithm function, which shouldn't block.  Could you s

[2016-12-16 01:25] DarwinAwardWinner commented on #111
Hmm. That's weird. It looks like the build process built against its own copy of TBB, but then at run time, it uses the system copy. All I did was copy the salmon executable into `~/bin`:

[code]

I don't know enough about how dynamic linking works to explain this.

Anyway, I did `export LD_LIBRARY_PATH=/home/ryan/src/salmon/external/install/lib` and now I'm running `while true; do salmon ...; don

[2016-12-16 01:53] rob-p commented on #104
Hi @mikelove,

  Thanks for the easy-to-reproduce example!  I'm at the point where I'm running Salmon, and before it starts quantifying, I get a stream of warnings like this:

[code]

Are you getting these as well?

[2016-12-16 01:59] mikelove commented on #104
Yes, i get these as well both with our without gcBias.

[2016-12-16 02:46] rob-p commented on #104
Ok, I have a backtrace of where the issue is coming from.  I think it might be due to either (1) some missing txps between the BAM and fasta or (2) a difference in the recorded lengths.

[2016-12-16 02:59] rob-p commented on #104
Yes, this is certainly *an* issue.  My check goes one way (i.e., it emits a warning if things we find in the fasta file were not in the BAM header), but not the other, more dangerous way (i.e., there are things in the BAM header that we don't find in the FASTA file).  In this case, there are many transcripts that appear in the BAM header (and presumably have mappings), but are not in the fasta fil

[2016-12-16 03:13] rob-p commented on #104
Ok, the missing transcripts (from the reference FASTA) were definitely *the* problem.  I created a transcript fasta using the genome FASTA and GTF file that were fed to STAR.  Specifically, I used the command:

[code]

this produced transcript fasta that led to no warnings (fasta sequences not present in BAM) or errors (BAM sequences not present in fasta).  This also allowed quantification (with b

[2016-12-16 03:22] mikelove commented on #104
Thanks Rob for the quick investigation. I'll check tomorrow and I agree
with warning and quit as the best you can do. You could even suggest in the
warning to build the fasta as you have here from GTF and genome...

[2016-12-16 07:32] DarwinAwardWinner commented on #111
Ok, I was just in the middle of writing a comment saying "it's been running for 6 hours with no hang, I don't think it's gonna happen", and then it just hung. Here's the backtrace from gdb:

[code]

[2016-12-16 07:35] DarwinAwardWinner commented on #111
Anyway, I have both hung processes suspended in a shell, so I can continue inspecting them as required.

[2016-12-16 08:57] DarwinAwardWinner commented on #111
Hmm. It seems the backtrace is not always the same. Here's a zip file of 100 random backtraces, generated by:

[code]

[salmon-gdb-bt-ldlib.zip](https://github.com/COMBINE-lab/salmon/files/656718/salmon-gdb-bt-ldlib.zip)

[2016-12-16 14:38] mns1972 opened #112 "Error with installing Salmon v0.7.2"
Hi,
I seem to be having problems with installing Salmon on my mac.
I've tried doing this using
**1. brew install salmon:**
brew install salmon
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 2 taps (homebrew/core, homebrew/science).
==> Updated Formulae
homebrew/science/seqan

==> Installing salmon from homebrew/science
==> Downloading https://github.com/COMBINE-lab/salmon/archive/v0.7.2.t

[2016-12-16 14:44] mikelove commented on #104
I can confirm this avoids the problem. Thanks Rob. I used rsem-prepare-reference with the GTF and genome FASTA and used the transcripts.fa produced by rsem with salmon quant. No problems.

One minor thing I noticed is that the `libParams` dir is empty with or without GC bias still. Is that expected with the alignment based quantification?

[2016-12-16 14:47] rob-p commented on #112
Hi @mns1972,

  Thanks for reporting this issue.  Are you on Sierra?  There is a known problem with libjemalloc (the memory allocator we use) under OSX 10.12.  This has been fixed upstream, and is fixed in the develop branch of Salmon (so the fix will make it into the next release).  For the time-being.  Could you tell me if the binary below works for you?

--Rob

[Salmon-0.7.3-pre_OSX_10.12.tar.g

[2016-12-16 14:51] rob-p commented on #104
Hi Mike,

  Glad to hear this fixes it.  I pushed a commit that does the check, prints out a useful error message (that suggests how you can make a compatible transcriptome fasta) and then bails.  Regarding the `libParams` directory --- that is actually a somewhat anachronistic directory anyway.  Currently, I've been moving all of the parameters into their own (gzipped) files in the `aux_info` dir

[2016-12-16 15:00] mns1972 commented on #112
Thanks very much for such a such a speedy response - Yes I do have Mac OSX Sierra running.
This solution seems to work!
Many thanks indeed,
-Mahesh

[2016-12-16 15:04] rob-p commented on #112
Great; glad to hear it.  I'm going to close this issue since this fix is already in develop and will make it to the next release.  At that point, the fix should make it to homebrew as well.

[2016-12-16 15:04] #112 closed

[2016-12-16 17:17] rob-p commented on #111
Ok, I'm thinking more and more it has something to do with TBB (https://software.intel.com/en-us/forums/intel-threading-building-blocks/topic/393172).  I'm investigating this.

[2016-12-16 20:51] rob-p commented on #111
In other news --- after many many continuous tries, I was finally able to reproduce the issue!  I've never been so happy to reproduce a bug.  Now to find out if it's our fault or TBB's fault.

[2016-12-16 23:05] tomsing1 commented on #104
Thanks a ton, @rob-p and @mikelove , for following up on this issue. Following your solution, I generated a new transcript FASTA file from Ensembl's mouse GTF and primary assembly genome FASTA files with [gffread](http://ccb.jhu.edu/software/stringtie/gff.shtml) instead of using Ensembl's cDNA FASTA files directly. That solved the issue for me as well. Awesome!

[2016-12-16 23:05] #104 closed

[2016-12-17 14:52] rob-p commented on #111
Ok,  so using your `while true; do salmon; done` paradigm, I was able to reproduce the issue on your original dataset after a few runs each time.  This has made working on the issue much easier.  After a lot of debugging and walking through the stack, I'm almost certain the issue is a "rare" deadlock bug in the Intel TBB library.  They mention having fixed this in the latest release.  So, I've upd

[2016-12-17 16:51] DarwinAwardWinner commented on #111
Ok, now it hangs using 2 cores (200% CPU), and when I did the 100 backtraces thing with gdb, I got the following 4 unique backtraces with the indicated frequencies:

* 96 times: [salmon-gdb-bt-ldlib-1.txt](https://github.com/COMBINE-lab/salmon/files/658928/salmon-gdb-bt-ldlib-1.txt)
* 2 times: [salmon-gdb-bt-ldlib-31.txt](https://github.com/COMBINE-lab/salmon/files/658932/salmon-gdb-bt-ldlib-31.tx

[2016-12-17 16:57] DarwinAwardWinner commented on #111
Verification that I'm running with the right version of TBB:

[code]

[2016-12-17 17:24] rob-p commented on #111
Ok, *damn*.  Mines been running for ~11.5 hours now with no hang.  This is definitely a TBB issue.  I wonder why it _only_ happens in the Gibbs sampler though.  Perhaps I'll just re-engineer that code to stop using tbb and just use a plain old thread pool.

[2016-12-17 17:43] DarwinAwardWinner commented on #111
For the record, it ran successfully 4 times before hanging on the 5th time. That's more or less in line with what was happening before.

[2016-12-17 19:47] rob-p commented on #111
Ok, trying something rather desperate.  Can you try commit 8977adf7f2ded7ec5ba7096448e70bebaf762d2f (just pushed).  The gibbs will run a bit slower, since I moved sampling from the gamma distribution outside of a parallel for.  I just want to isolate the hang to *that specific parallel_for loop*.  If this resolves the problem, I can think of another way to speed up that sampling.

[2016-12-18 19:15] DarwinAwardWinner commented on #111
Still hangs:

[code]

[2016-12-18 19:18] rob-p commented on #111
Ok ... so, now it's hanging in single-threaded code, and it does so in a call to std::gamma_distribution.  I'm running out of logical possibilities here.  Either (1) undefined behavior somewhere else is affecting the hanging here or (2) `std::gamma_distribution` is in an infinite loop.  I'll note that `gamma_distribution` does contain a while loop, but I'd be immensely surprised if the standard li

[2016-12-18 19:21] DarwinAwardWinner commented on #111
More backtraces: [salmon-gdb-bt.zip](https://github.com/COMBINE-lab/salmon/files/659600/salmon-gdb-bt.zip)

[2016-12-18 19:36] rob-p commented on #111
well, it's definitely in the gamma_distribution during all of these.  Do we have any idea what the values of the gamma distribution leading to this behavior are (i.e. the alpha & beta)?  If so, we might be able to produce a small example (without all of salmon, but just repeatedly calling gamma) that triggers this behavior.

[2016-12-18 19:44] DarwinAwardWinner commented on #111
Is there a way to figure out the values from within gdb?

[2016-12-18 19:47] rob-p commented on #111
Nominally, you can use `info locals` and `p x` (where x is a specific variable name) to look at the value of variables in the stack.  However, without debug flags, the ability to peek at such values is questionable.  Alternatively we could log the values that gamma is being called with before each call . . . but that's going to lead to some crazy logs until the hang occurs.

[2016-12-18 19:49] DarwinAwardWinner commented on #111
Well, it doesn't matter how long the log is, since we only need the last line, right?

[2016-12-18 19:51] rob-p commented on #111
Yes, that is true.  I have one more thing to try before going down that road though.  I just pushed a commit (56b127429d65b8aa4fe6f706d508fbc308e554ff ) that replaces that call to the `gamma_distribution` with one from Boost.  Can we see if Boost's implementation also triggers this?

[2016-12-18 19:54] rob-p commented on #111
If we do find a bug (infinite loop) in `std::gamma_distribution`, I think that it will qualify as one of the most mainstream bugs I've ever run into.

[2016-12-18 23:26] DarwinAwardWinner commented on #111
It looks like the first several runs crashed with:

[code]

And then a run finally hung with:

[code]

Here's another batch of 100 backtraces: [salmon-gdb-bt.zip](https://github.com/COMBINE-lab/salmon/files/659757/salmon-gdb-bt.zip)

[2016-12-18 23:43] rob-p commented on #111
Ok, the assertion is useful.  That argument shouldn't be 0.  But it's also the case that if Boost validates the arguments appropriately, it shouldn't *hang*.

[2016-12-19 02:05] rob-p commented on #111
I think I figured it out!  This behavior is triggered in `gamma_distribution` when the alpha parameter is nan.  The issue (i.e. the reason this is going unnoticed elsewhere) is because salmon is compiled with `-Ofast` which turns on `finite-math-only` (the compiler need not handle infinite / nan values properly).  So, it looks like the fix should be to insert some nan & inf checks and change the d

[2016-12-19 04:00] rob-p commented on #111
Ok @DarwinAwardWinner, I think it's fixed for real this time.  The issue was stemming from an uninitialized prior value in the Gibbs sampler under VBOpt mode (the initialization code was updated on the develop branch, which is where the bug was introduced).  This, in turn, was leading to `nan` being passed as the alpha parameter of `std::gamma_distribution`.  With the `-Ofast` optimization flags,

[2016-12-19 14:39] roryk commented on #111
Railbirding this bug fix has been awesome. You guys rock.

[2016-12-19 15:27] DarwinAwardWinner commented on #111
Well, I've run Salmon about 25 times with this fix and it hasn't hung yet, so I think this is probably fixed.

[2016-12-19 20:04] rob-p commented on #111
Great!  Assuming that the hang resulting from feeding nan to `gamma_distribution` was the cause of all of the hanging you were seeing, I'm going to close this issue now.  Thanks so much for all of your help in tracking this down and isolating the cause.

[2016-12-19 20:04] #111 closed

[2016-12-21 00:46] rob-p commented on #103
Updated to resolve a short options conflict and fix issue #111 (which only occurred on the develop branch with the combination of `--useVBOpt` and `--numGibbsSamples`). [Salmon-0.7.3-pre_OSX_10.12.tar.gz](https://github.com/COMBINE-lab/salmon/files/665033/Salmon-0.7.3-pre_OSX_10.12.tar.gz)

[2016-12-22 18:27] maximilianh commented on #108
This may also be applicable to 10x Genomics reads...

[2016-12-23 01:11] vals commented on #108
@maximilianh If you ignore the UMI's yes.

[2016-12-23 02:13] roryk commented on #108
rapmap -> dedupe umis -> feed deduped alignments back into Salmon would be pretty awesome.

[2016-12-23 12:08] vals commented on #108
I can see the point of deduping reads based on UMI's. But then you'd need to do it on read level rather than mapping level (i.e. CIGAR-free alignment). Maybe then doing it with STAR rather than RapMap? I think I even saw someone who changed Picard Dedup at some point to do this based on UMI's.

[2016-12-23 13:50] rob-p commented on #108
Hi @vals, could you expand I bit more on what distinction is important between the read level and the mapping (cigar-free aln) level?  Is it just that one read could yield many mappings, not to be considered as dups, or something else?

[2016-12-23 14:05] vals commented on #108
Hi @rob-p ,

Yes that's one aspect. But also, Salmon uses CIGAR to evaluate alignment probability in alignment quantification mode no?

And with just RapMap output you would lose other information that Salmon uses to determine likely fragment assignment?

With UMI's you can deduplicate fragments _before_ inferring where they were likely to come from.

Ideally you would deduplicate the reads direct

[2016-12-23 14:59] rob-p commented on #108
Indeed.

You would lose information (in the format of a CIGAR string) that Salmon uses in alignment mode, but not any information, I think, that Salmon uses in quasi-mapping-based mode (though one would incur a non-trivial performance hit for filtering the quasi-mappings through file / disk rather than dealing with them directly in memory as Salmon normally does).

I guess this is the real questio

[2016-12-23 20:35] vals commented on #108
I don't think sequencing errors of the UMI's is a big issue. I was thinking more of the reads.

I've been thinking in terms of (read, UMI) pairs and (transcript, UMI) pairs, and what the relation between them is.

Now, during mapping, an equivalence class get a count every time a read is mapped to it right? How feasible would it be to keep track of all UMI's which have been assigned to an equivale

[2016-12-23 20:47] maximilianh commented on #108
Counting (transcript, UMIs) is what "kallisto pseudo" with the --umi option
does, right?

Yes, there are a few errors in the UMIs. The Kallisto wrapper tries to
correct them. But this is really very rare. Not sure if it's worth the
time. Like ~100 out of 200.000 reads? I would have to check again.

[2016-12-23 21:16] vals commented on #108
Does it actually do counting? I thought it stopped at (Eq.Class, UMI) counts.

[2016-12-23 22:07] maximilianh commented on #108
Oh Sorry you're right: it does only (equality class, Umi count)

On Dec 23, 2016 1:16 PM, "Valentine Svensson" <notifications@github.com>
wrote:

[2016-12-23 23:04] rob-p commented on #108
It would be almost trivial.

[2016-12-23 23:22] vals commented on #108
All UMI/Tag data is single-ended, so only the SE model of quantification would apply (meaning no fragment length inference). Also positional bias and  and effective length should be kept constant in this data. And the GC bias doesn't work with SE anyway. So I think a reasonable strategy would be to only count unique UMIs in Equiv.Classes and pass that to the SE Salmon model. That is, if a read has

[2016-12-24 02:17] roryk commented on #108
+1 for the deduping on EC plan.

[2016-12-24 03:31] maximilianh commented on #108
+1, especially for throwing away reads with an UMI that has been seen
before.

[2016-12-24 05:23] rob-p commented on #108
OK, so it seems like adding the UMI <-> eq class counting should be pretty straightforward.  @vals, so when you say effective length should be kept constant, you mean we shouldn't adjust for bias, or that we don't expect a transcript length effect at all?  Also, is there a basic primer I can read up on regarding the details of the data format (e.g. where in each read I should look for the tag, how

[2016-12-24 05:36] roryk commented on #108
Hi Rob,

All of the different single-cell library prep methods put the cellular barcodes and UMI in different places; what we've been doing is sticking that information in the read name so we have access to it post alignment. Valentine has this awesome repository: https://github.com/vals/umis that does that part via fastqtransform, and has example regexes for a bunch of the different commonly used

[2016-12-24 17:46] vals commented on #108
Hey Rob,

I mean there shouldn't be an effect from transcript length. I'm sure there will be other biases, but which other biases can you account for in single-end data?

Yeah unfortunately I think my list of examples might be the best resource for the common file formats. I realize the regular expressions are not extremely parsable. I might make a cleaner visualization of the read layouts (with r

[2016-12-29 02:57] rob-p commented on #108
Hi Valentine,

  Thanks, I'm taking a look through your umis repo that Rory pointed me at.  The fact that there is no length effect (i.e. that fragments are drawn from transcripts independent of transcript length) makes the model a little bit different than even the _single end_ abundance model.  There, you still expect longer transcripts to generate more fragments _a _priori_, but to ignore trans

[2016-12-29 16:53] vals commented on #108
Hey Rob,

Regarding file pairs, in some cases e.g. the FW read contains the mRNA Tag and a Cell Barcode, while the RV read contains the UMI and some non-informative sequence. In particular in the 10X Chromium (V1) protocol there are 4 files! FW, RV as well as I5 and I7 index reads. I don't remember exactly which read contains what information right now though.

[2016-12-29 17:21] roryk commented on #108
The Klein group has a new inDrop protocol that has the 4 file format as well that should be cropping up in publications sometime soon. Not sure if it is nicked from the 10x folks but it is:

[code]

[2016-12-29 17:22] roryk commented on #108
SB = sample barcode

[2016-12-30 02:34] rob-p commented on #108
Cool, thanks for clarifying that; it makes sense.  So now my question becomes, when we have a stream of reads with all of this information encoded, what should the output look like?  That is, if I have a stream of reads where each read has a cell barcode and a umi (with that cell barcode), then, presumably, the output estimates we want are *per-cell* (i.e. the estimate of the number of UMI de-dupl